[2015-08-12 16:27] #551 closed

[2015-08-12 18:57] pdelanauze opened #585 "[Typo] Pricing page, 'Private Respositories'"
s/Respositories/Repositories

https://huboard.com/pricing

[2015-08-12 19:03] discorick commented on #585
Whoops! Thanks for the catch!

[2015-08-12 20:14] discorick opened #586 "[Missing] Linked Repo Issue Milestone Breadcrumb"
When a linked issue is created by an incoming message, if it belongs to a milestone it properly moves to that milestone but does not move the breadcrumb to its assigned column

[2015-08-12 20:24] discorick opened #587 "[Missing] Linked Issue Updated Socket Event"

[2015-08-13 06:07] walliski opened #588 "Default state for Pull Requests"
Hi

Since a lot of people use Pull requests in their workflow, it would be nice to have a setting for having a default value for the pull requests. For example if I have the following workflow:

0 - Backlog
1 - Working
2 - Review
3 - Done

Then all the created pull requests would have a default label set as "2 - Review" and would show up in the review column automatically, instead of backlog as th

[2015-08-13 18:20] rauhryan commented on #588
No, but it's a really good idea and we will look into it.

Thanks for the suggestion

[2015-08-17 16:58] brunowego commented on #174
+1

[2015-08-19 14:15] #576 closed

[2015-08-19 14:17] #568 closed

[2015-08-19 14:17] #573 closed

[2015-08-19 14:17] #574 closed

[2015-08-19 14:17] #584 closed

[2015-08-19 15:11] rauhryan commented on #552
[BLOCKED]

The way that filters currently works, the filter groups do not observe their backing models.

It's a bit complicated to explain, but the use of unknownProperty to proxy the filters to filterGroups doesn't setup computed properties to the backing model property.

[2015-08-21 18:46] #577 closed

[2015-08-25 14:50] #552 closed

[2015-08-28 08:58] ch1na-d0ll commented on #276
+1

[2015-08-28 20:25] discorick commented on #126
Close with #510

[2015-08-31 15:33] #510 closed

[2015-08-31 15:33] #126 closed

[2015-08-31 15:45] discorick commented on #399
[Blocked] There are some modeling constraints and css view changes that need to be addressed before this can be completed.

[2015-08-31 17:12] discorick commented on #566
Re: Ready/Blocked checkboxes, we are working on adding a label that stays in sync with the meta-data, I agree its good to keep data as consistent as possible between platforms. You can track progress at #399

Ill address #565, #564 and #301 within their own issue threads, @ehausen thanks by the way for the detailed feedback, its appreciated. (sorry about the late response, we are a little behind o

[2015-08-31 17:14] discorick commented on #565
PR https://github.com/huboard/huboard-web/pull/88

[2015-08-31 17:20] discorick commented on #564
Currently the only way for use to detect changes on labels from GitHub is by polling their API for them directly (there are no incoming events for label unfortunately) HuBoards primary constraint in this area is we do not use a persistent data store to assemble the board, or a poller to detect changes real time. Once we have a poller in place this should become a relatively easy problem to address

[2015-08-31 17:38] discorick commented on #301
Syncing during opening/saving is a convenient time with no real additional overhead to make sure the card is up to date as per @ehausen's suggestions.

GitHub still has no "issue updated" events for us to capture title changes in real time on the board.

[2015-08-31 18:35] #565 closed

[2015-09-01 18:11] #354 closed

[2015-09-01 18:30] #566 closed

[2015-09-08 16:53] patdolem opened #589 "Repos are duplicated in the list"
Some repos are duplicated in the list used to open the dashboards (see screenshot):
![duplicated repos](https://cloud.githubusercontent.com/assets/5685914/9741468/6f38643e-560f-11e5-9791-60ea32f5b468.png)

[2015-09-08 16:55] discorick commented on #589
Hi @patdolem , have you recently upgraded you GitHub Enterprise installation ? The GH API team made some changes, the newest build of HuBoard Enterprise should fix this.

[2015-09-08 17:02] patdolem commented on #589
@discorick Let me check if the upgrade happened.

[2015-09-08 17:16] patdolem commented on #589
@discorick We are behind at least one release. We'll upgrade this week-end and let you know if we are still having this issue.

[2015-09-08 21:26] discorick commented on #589
@patdolem sounds good! We will try to have a bleeding edge enterprise release for this weekend as well.

[2015-09-10 19:31] FreakTheMighty opened #590 "Customize width of lanes"
I'd like to be able to have lanes that are multiple cards wide. Especially for the backlog, I find it difficult to view a single long column of cards. Instead, I would like be able to set the width of a column, and have cards wrap. Combined with the ability to scroll horizontally, large lanes like the backlog could be viewed in on a single page.

[2015-09-14 20:56] rauhryan opened #591 "[BUG] Fullscreen create on the milestones view can cause a 422 exception in a weird scenario"
The fullscreen open tries to set the milestone for you on the fullscreen issue create.

Sometimes the repo selector and the milestone selector can get out of sync and try to create an issue with a milestone that doesn't exist in the linked repo yet...

[2015-09-17 18:34] patdolem commented on #589
This was fixed in the last release.

[2015-09-17 18:34] #589 closed

[2015-09-17 18:38] patdolem commented on #547
v1.6.93 release fix partly this issue. It only works for the team members.

[2015-09-17 19:08] rauhryan commented on #589
:tada: :hand:

[2015-09-17 19:41] digitalfrost commented on #230
:+1: points and velocity

[2015-09-18 14:12] discorick commented on #547
Hey @patdolem I am having troubles reproducing, what are the steps I need to take to recreate this behavior ?

[2015-09-18 14:46] patdolem commented on #547
@discorick This is not working for the milestone. I forgot to mention that it also works for the labels.
These are the steps:
1. Filter to a given milestone
2. Open an issue
3. Add/replace to another milestone
4. Close the issue
Nothing happened while I expect the issue to disappear from my list (this is the way it works when a filter is set to an assignee when re-assigning an issue to another one

[2015-09-18 14:49] discorick commented on #547
@patdolem Aha! I see what you mean, i'll make sure its taken care of for next release

[2015-09-18 14:54] discorick opened #592 "Closed Issues Pinning"
When pulling issues, grab all closed issues (as opposed to only issues in the final column) and if they are not already in the final column, move them there. Add a modal confirmation when attempting to drag closed issues to the rest of the board (reopen on cancel)

[2015-09-18 22:05] rauhryan opened #593 "Under a very rare edge case duplicate issues can appear in the milestones view"
![huboard](https://cloud.githubusercontent.com/assets/68954/9972138/373fe334-5e27-11e5-993f-e1b57e61b1cd.png)

Not a high priority, might not fix for a while

We did discover a fix but it introduced an even worse performance regression

[2015-09-23 19:58] patdolem opened #594 "Be able to filter labels using NOT boolean operator"
We need to have the ability to filter issues by using NOT. This is for assignees, repos, milestones and labels.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26905754-be-able-to-filter-labels-using-not-boolean-operator?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_source=github)** We accept bounties via [Bo

[2015-09-23 20:06] patdolem commented on #590
![thumb-up](https://cloud.githubusercontent.com/assets/5685914/10057209/e3f05062-61f3-11e5-84bf-c8a0ac0f0d2b.png)

[2015-09-28 19:52] misterfitz opened #595 "add issue - select repository from linked"
Would be great to be able to select a linked repository to create a new issue in.

[2015-09-28 20:08] rauhryan commented on #595
![huboard_and_huboard_and_add_issue_-_select_repository_from_linked_ _issue__595_ _rauhryan_huboard_and_slack](https://cloud.githubusercontent.com/assets/68954/10147282/b54692c8-65f2-11e5-9ce8-53a5c52e28f2.png)

You can specify more details if you click the + button

[2015-09-28 20:08] #595 closed

[2015-09-29 11:40] misterfitz commented on #595
Interesting - we must be on an old version as I don't see this option. I do have the latest version available from https://enterprise.huboard.com/

[2015-09-29 12:27] benjamincharity commented on #540
:+1:

[2015-09-29 13:48] rauhryan commented on #595
It's possible you are running into a problem while upgrading.

The latest package file from enterprise.huboard.com should have this feature

[2015-09-29 13:48] rauhryan commented on #595
@misterfitz email me and we can set up a time to screenshare

[2015-09-29 16:07] #592 closed

[2015-09-29 19:08] rauhryan commented on #258
reopening per a request from @jakehow

Though much improved the closed column is not configurable

[2015-09-29 19:11] #585 closed

[2015-09-30 13:43] benjamincharity commented on #542
Huge :+1:

[2015-09-30 13:45] benjamincharity commented on #442
Looks like API limitations.. https://github.com/rauhryan/huboard/issues/581

[2015-09-30 13:47] benjamincharity commented on #548
Duplicate: https://github.com/rauhryan/huboard/issues/369

[2015-09-30 13:47] benjamincharity commented on #389
:+1:

[2015-09-30 13:58] benjamincharity opened #596 "Create a card within a specific column"
Currently, cards can only be added to the first column.

![screen shot 2015-09-30 at 9 57 56 am](https://cloud.githubusercontent.com/assets/270193/10195048/bde113aa-6759-11e5-9b04-c8caa4226961.png)

It would be very nice to have the `+` icon at the top of each column that creates a card with the correct labels to live in that column.

[2015-10-04 17:54] gazsp commented on #276
+1

[2015-10-08 08:57] slaFFik commented on #276
+1

[2015-10-09 17:29] dandean commented on #72
It looks like GH now supports label metadata in the IssuesEvent: https://developer.github.com/v3/activity/events/types/#issuesevent

![pasted_image_at_2015_10_09_10_20_am](https://cloud.githubusercontent.com/assets/18332/10400915/885a04a8-6e70-11e5-956e-0879f00e8bca.png)

[2015-10-12 20:35] booch commented on #72
That's good news. Any way we could move this back out of the backlog, now that GitHub enables a simpler way to implement it, @rauhryan?

[2015-10-12 21:22] patdolem opened #597 "Assignees (team members) should be filtered based on the active filters"
It was a good progress having the assignees listed based on their assignment. Currently it lists all the assignees that are assigned to one ore more issues whatever the filtering is set to. It should be very useful to just list the team members that are assigned to the issues based on the active filters.
For example, selecting a given milestone should only show the assignees that are having one or

[2015-10-17 00:08] #523 closed

[2015-10-17 00:08] rauhryan commented on #523
Hey @wireframe just released this feature as part of huboard/huboard-web#93

![uploads/333b4644-70ff-425f-b8d3-94c3c5f4ceed/rauhryan_ghee_test_HuBoard_and_rauhryan_ghee_test_HuBoard.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F333b4644-70ff-425f-b8d3-94c3c5f4ceed%2Frauhryan_ghee_test_HuBoard_and_rauhryan_ghee_test_HuBoard.png)

I'd appreciate your feedback

[2015-10-19 06:06] bkerensa commented on #271
Do want badge

[2015-10-19 12:26] benjamincharity commented on #271
:+1:

[2015-10-19 12:28] benjamincharity commented on #588
Really like this idea.

[2015-10-19 12:31] benjamincharity commented on #495
@brunogonncalves I've been doing a lot of work lately with Angular inside of cordova. Not sure what tech you were thinking, but a mobile app would be a huge benefit to me. Let me know if you need/want any help with this.

[2015-10-19 14:37] stof opened #598 "Issues closed by github when merging a PR are not moved to the last column"
According to your blog post http://blog.huboard.com/post/130137307289/end-of-summer-update, issues closed on github should be moved to the final column. but this does not work when the issue is closed by the merge of a pull request. And merged pull requests are not moved there automatically either.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2015-10-20 13:36] benjamincharity opened #599 "Huboard removed all labels when syncing new column/label across repos"
We added a new column/label to one of our repos. In the Huboard settings modal, it asked if we wanted to sync the change across all repos. This sounded like a life-saver so we clicked yes. But then all of our labels were removed and all of our cards were moved to our first column.

First time trying to use that feature, but it seems that it's a bug.

<bountysource-plugin>
---
Want to back this iss

[2015-10-20 18:53] kevPo commented on #230
How would you guys advise to implement the points portion of this request? I could see two possible solutions.

- Store the points value alongside the order and custom state values, as @dmakhno suggested above.
- Store the points value as a label in the same fashion that the columns are stored in the tasks view as labels. The labels would be filtered out of the label fly-out on the issue, and a ne

[2015-10-20 19:02] rauhryan commented on #230
We want to avoid putting more data into the hidden metadata because at some point we need to figure out how to phase that out.

I agree labels would be a better opinion.

For context, we are on the fence regarding story point support in HuBoard. We are trying to avoid becoming a `ScrumBan

[2015-10-20 19:21] rauhryan commented on #230
Ooops, accidently posted that reply.

More context, we "want" to build something based off of lead times and relative estimates but there still needs to be "something" to estimate with.

One suggestion that I've been thinking about is a bit of a compromise, what about something more abstract like a star rating.

![pasted_image_10_20_15__2_17_pm](https://cloud.githubusercontent.com/assets/68954/106

[2015-10-20 19:37] kevPo commented on #230
Do you have thoughts about how to display the star rating on the cards when viewing the board?

[2015-10-20 19:52] rauhryan commented on #230
![rauhryan_skipping_stones_repo_huboard](https://cloud.githubusercontent.com/assets/68954/10619250/31f6fff8-773a-11e5-9795-217e440db6d7.png)

[2015-10-21 12:51] #373 closed

[2015-10-21 12:51] discorick commented on #373
Closing issues now moves them to the final column of the board.

[2015-10-21 12:55] #441 closed

[2015-10-21 13:00] discorick commented on #321
Closing as milestone filters can be combined

[2015-10-21 13:00] #321 closed

[2015-10-21 13:01] #270 closed

[2015-10-21 13:01] discorick commented on #270
Filtering by milestones accomplishes this, closing

[2015-10-21 13:05] discorick commented on #534
The board should now stay in sync when changing milestones.

[2015-10-21 13:05] #534 closed

[2015-10-21 13:07] discorick commented on #557
closes #591 closes #550

[2015-10-21 13:10] discorick commented on #181
Yep that feature has been implemented, and incorrect timestamp reporting has been fixed

[2015-10-21 13:10] #181 closed

[2015-10-21 13:16] discorick commented on #89
@rauhryan, could you you take a look at this ?

[2015-10-21 13:18] discorick commented on #170
Our UX has come a long way since then! Closing.

[2015-10-21 13:18] #170 closed

[2015-10-21 13:23] discorick commented on #214
@ehausen, we now have a health checks component that notifies when your board is missing the required webhooks, speaking of which - issue create is now live and issue label/unlabeled hooks are on their way!

[2015-10-21 13:25] #235 closed

[2015-10-21 13:25] discorick commented on #235
UX has changed a lot over two years! Looks like this has been achieved with issue #'s linking back to GH

[2015-10-21 13:26] #275 closed

[2015-10-21 13:26] discorick commented on #275
Our wiki has been refreshed quite a few times since then https://github.com/rauhryan/huboard/wiki/Local-Development

[2015-10-21 13:26] #277 closed

[2015-10-21 13:26] discorick commented on #277
Outdated.

[2015-10-21 13:29] discorick commented on #316
closed by #454

[2015-10-21 13:32] discorick commented on #330
Filtering by repo, and creating issues on linked repos are both live! Closing.

[2015-10-21 13:32] #330 closed

[2015-10-21 13:38] discorick commented on #340
@exalted @JudHarris, archiving an issue is designed as a mechanism to 'delete' an issue from your HuBoard - but I can see how accidental archives can be annoying and going back to github to erase the 'archived' key is unpleasant UX.

Still, a toggle or filter to reveal something effectively deleted feels counter-intuitive. I wonder if some "undelete" modal with a list of archived issues (not cards

[2015-10-21 13:40] #347 closed

[2015-10-21 13:40] discorick commented on #347
The wiki for this has been refreshed, along with better default values in the example.env file. https://github.com/rauhryan/huboard/wiki/Local-Development

[2015-10-21 13:41] #352 closed

[2015-10-21 13:41] discorick commented on #352
Done!

[2015-10-21 13:42] #369 closed

[2015-10-21 13:42] discorick commented on #369
closed by https://github.com/huboard/huboard-web/pull/112

[2015-10-21 13:43] discorick commented on #389
closes #348

[2015-10-21 13:46] discorick commented on #433
Closing, this has been fixed!

[2015-10-21 13:46] #433 closed

[2015-10-21 13:48] discorick commented on #482
Card rendering speed has improved quite a bit post ember 1.13, closing

[2015-10-21 13:48] #482 closed

[2015-10-21 13:49] #496 closed

[2015-10-21 13:49] discorick commented on #496
This has been fixed!

[2015-10-21 13:50] #497 closed

[2015-10-21 13:51] #528 closed

[2015-10-21 13:51] discorick commented on #528
Fixed!

[2015-10-21 13:51] #530 closed

[2015-10-21 13:53] discorick commented on #536
Refreshed wiki instructions should make this more straightforward: https://github.com/rauhryan/huboard/wiki/Local-Development

[2015-10-21 13:53] #536 closed

[2015-10-21 13:54] discorick commented on #548
closed by https://github.com/huboard/huboard-web/pull/112 !

[2015-10-21 13:54] #548 closed

[2015-10-21 14:07] exalted commented on #340
I am terribly sorry for not following up this issue anymore since I am not an active Huboard user since. Best of luck!

[2015-10-21 14:24] benjamincharity commented on #348
:+1:

[2015-10-21 15:31] brunogonncalves commented on #495
@benjamincharity We will need that huboard developers provide API's. You could install huboard on some server testing, and then we go modifying the need for the system to provide the answers that we need in the application. It would be nice to create this app with Ionic / Cordova.

[2015-10-21 18:51] #546 closed

[2015-10-26 18:17] patdolem opened #600 "Urgent - Team member filtering is not working properly since 1.6.94 (Huboard Enterprise)"
Team member filtering is working inconsistently. For some teams, one or many members are not showing up. This is happening since we installed Huboard Enterprise 1.6.94

[2015-10-26 18:23] discorick commented on #600
Hey @patdolem, I will look into this ASAP - when you say members are not showing up are you referring to the active members thumbnail missing members you would expect to be there ?

[2015-10-26 18:27] patdolem commented on #600
@discorick Thumbnails are showing in the individual tasks but the filter panel only lists a part of the active team members.
![teammembers](https://cloud.githubusercontent.com/assets/5685914/10738383/70a8d278-7bd4-11e5-8dc8-0b4b6d5f1805.png)

[2015-10-26 18:36] discorick commented on #600
Ok I see the problem! Thanks for heads up we will make sure to patch this right away!

[2015-10-26 19:44] #600 closed

[2015-10-27 17:42] patdolem opened #601 "Need for filtered repo links"
Linking a repository should allow label filter.

Let’s say we work in repo 1 and we link in repo 2 which contains a total of 400 issues including 50 labeled with A label. We are not interested in listing the 350 not labeled A.
- If we apply a filter based on A, we will only see the 50 issues in repo 2. And all issues in repo 1 will be filtered out. This is not what we want because we need to prior

[2015-10-27 17:57] dylanfitz opened #602 "Search Repositories"
My team members typically have access to hundreds of repositories, it would be nice if this was searchable in the main dashboard.

![screen shot 2015-10-27 at 1 56 17 pm](https://cloud.githubusercontent.com/assets/6518867/10767441/8450cc66-7cb2-11e5-8c28-3ef730ddec76.png)

[2015-10-27 23:39] patdolem commented on #602
If you're using Windows, you can use <Ctrl> F to find any repo based on a chain of characters.

[2015-10-28 15:08] dylanfitz commented on #602
Thanks for the note. We do currently use that feature. However, for a better user experience, I think it might be better to add a keyword search bar to the page. Waffle (https://waffle.io/) seems to do it pretty well.

<img width="666" alt="screen shot 2015-10-28 at 11 04 45 am" src="https://cloud.githubusercontent.com/assets/6518867/10792665/ff0ffee8-7d63-11e5-8a85-7444c0f410fe.png">

[2015-10-28 18:28] discorick opened #603 "Fix external repo commit refs throwing an exception."
This is no longer blocked thanks to GitHubs recent push!

[2015-10-28 18:48] discorick opened #604 "Advanced Filtering"
In many cases applying filters to all repositories is not a tenable solution, see #601.

At some point we could provide an advanced filters panel (in addition to our basic one) that would allow filters to be applied against individual repositories. It possible we would just phase out the old filters panel altogether at that point.

[2015-10-28 18:52] discorick opened #605 "Column Labels Sorting"
Column label indexes should be sorted as integers, not strings.

[2015-10-30 19:58] #605 closed

[2015-10-30 20:06] rauhryan opened #606 "Add active user analyics and tracking"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27842179-add-active-user-analyics-and-tracking?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_source=github)

[2015-10-30 20:51] #564 closed

[2015-10-30 20:51] #587 closed

[2015-10-30 20:52] #570 closed

[2015-10-30 20:53] rauhryan commented on #583
Closing in favor of huboard/huboard-web#139

[2015-10-30 20:53] #583 closed

[2015-11-01 19:22] eskatos opened #607 "Issues URL matching/including GH issue number feature request"
HuBoard Issue URL for the fictitious `doe/nut#42` GitHub issue like this:

    https://huboard.com/doe/nut#/issues/123456789

To be able to know the actual GH issue number by simply looking at a HuBoard card URL would be lovely.

Some story: a group of developers share theses cards URLs by email and other means, they use GH issues numbers in commits, comments, chats etc..., being able to tell the

[2015-11-02 13:47] lptr commented on #607
This would be really useful indeed.

[2015-11-03 07:33] cbeams opened #608 "HuBoard publishes duplicate messages via Slack webhook"
We're seeing this sort of thing lately:

<img width="530" alt="screen shot 2015-11-03 at 8 31 56 am" src="https://cloud.githubusercontent.com/assets/301810/10903018/5dd597b2-8205-11e5-904a-cf3c55348b2a.png">

Notice how the last two entries are identical. This is not perfectly reliable, i.e. does not happen every time for any given user, but does happen often enough to wish that it would stop.

[2015-11-03 12:50] eskatos opened #609 "HuBoard publishes GH URLs, not HB ones, via Slack webhook"
Using the Slack webhook integration, the published notifications include links to the GitHub issues.

![](https://cloud.githubusercontent.com/assets/301810/10903018/5dd597b2-8205-11e5-904a-cf3c55348b2a.png)

Having Slack webhook notifications include URLs to HuBoard instead would ease usage flow.

For now, clicking on theses links in Slack leads to corresponding GitHub issue page which do not have

[2015-11-04 02:45] RVN-BR commented on #188
Was anything like this ever hacked/implemented directly?  We are looking for a way to have easy code reviews/code merging in a kanban-board kind of flow...

We are looking at several solutions, including zapier stitching, pipefy, trello, etc but nothing is really easy enough or reliable enough... has anyone found something? thks

[2015-11-05 17:00] #603 closed

[2015-11-06 12:39] cbeams commented on #608
Ping. Should I be posting these issues to huboard/huboard-web instead?

[2015-11-06 15:37] rauhryan commented on #608
Either repository is acceptable, we link them together in HuBoard :wink:

[2015-11-09 12:16] cbeams opened #610 "How to delegate HuBoard billing setup to another member of an org"
We'd like to start paying you for your fine product, but I first need to be able to delegate billing setup to the appropriate member of my GitHub org.

As far as I can tell, because I am the one who initially set up HuBoard integration with our repository, I am the only one who can edit billing information at `https://huboard.com/settings/profile#/<<org-name>>`. I've had other org members try acce

[2015-11-09 15:15] discorick commented on #610
Hi @cbeams, currently any administrative actions on a HuBoard Org/User requires admin level GitHub credentials. If thats not going to work for you, I can open up a support ticket and we can discuss further how to get the ball rolling!

[2015-11-09 15:23] cbeams commented on #610
Wouldn't it be possible (in theory at least) to make billing actions available to users that have the "billing manager" role in a given org? Not sure if the GH API fully supports this sort of thing yet.

[2015-11-09 15:38] discorick commented on #610
@cbeams, thats an awesome idea! Just chatted with the team and it's something we can likely get implemented quite quickly.

[2015-11-09 16:37] cbeams commented on #610
Excellent :)

If you can ship it before Friday of this week (when our trial runs out), then we won't need any sort of work around solution. We'll just be the first users of the new feature. Let me know if that's reasonable to expect or not.

[2015-11-09 22:22] discorick commented on #610
Quick update. It doesn't look the API is going to let this happen just yet, just waiting on a response from GitHub to see if theres a way around it.

[2015-11-10 07:30] cbeams commented on #610
Cool, will stand by for further update.

[2015-11-11 22:13] patdolem commented on #520
This is still not working and prevent us to add any image without having to go through GitHub Enterprise.

[2015-11-12 14:28] rauhryan commented on #601
:+1: :100: :boom: let's get to work, awesome idea!

[2015-11-12 16:09] rauhryan commented on #452
We are currently working on it but ran into a snag with the drag and drop UX

I'm happy to share a screencap of the styling to get some early feedback on our progress

//cc @patdolem

[2015-11-12 16:10] rauhryan commented on #452
![rauhryan_skipping_stones_repo_huboard_and_developer_tools_-_http___huboard_local_rauhryan_skipping_stones_repo_and_developer_tools_-_https___trello_com_b_taytf6wa_herp](https://cloud.githubusercontent.com/assets/68954/11123460/85aa98a6-8925-11e5-9fb1-b5f71c1082ea.png)

[2015-11-12 18:38] patdolem commented on #452
The styling looks perfect. I like the vertical scroll bar for milestones where all issues are not fitting in the screen.
![thumb-up](https://cloud.githubusercontent.com/assets/5685914/11127448/408ffb9a-8929-11e5-98ce-50c91e93ab91.png)

[2015-11-13 00:24] rauhryan commented on #609
Huh... yeah, that does seem pretty silly.

We'll look into it

[2015-11-13 17:30] patdolem commented on #547
It works well now. Closing this issue.

[2015-11-13 17:30] #547 closed

[2015-11-13 19:38] tottinge commented on #400
Per-user swimlanes are a particularly bad idea.

https://www.industriallogic.com/blog/stop-per-person-swimlanes/
https://www.reddit.com/r/programming/comments/3ahlyu/stop_perperson_swimlanes/

[2015-11-16 06:35] rauhryan commented on #400
@tottinge thanks for the articles, I will have to do some more research, but I've alway been on the fence on this issue

[2015-11-16 21:06] discorick commented on #596
@benjamincharity sorry for the (very) late response. We have been hesitant with this one because it violates good practice somewhat with the ability to create cards in any column you want. I am curious, what is your use case?

[2015-11-16 21:07] discorick commented on #588
:+1:

[2015-11-16 21:09] discorick commented on #599
This indeed is a bug!  Sorry you got hit by it!

[2015-11-16 22:53] walliski commented on #588
How's it going? This is the only thing preventing me from using this tool effectively with peer reviewing processes -_-

[2015-11-16 23:08] discorick commented on #588
@walliski I was thinking we could accomplish the fairly easily by assuming the second to last column is also the review column - would something like that work for you ?

[2015-11-17 00:39] rauhryan commented on #588
Sounds doable to me

[2015-11-17 16:14] benjamincharity commented on #588
@rauhryan assuming a column position seems very limiting.

I understand that there are agile 'best practices' that many may be concerned with. However, one of the beautiful parts of Huboard (thus far) is that we can define our own custom flow. Of all of the agile/agile-ish flows that I've seen, they are _very_ rarely ever identical.

- - -

For instance, I have personally worked at three different

[2015-11-17 16:28] benjamincharity commented on #596
Thanks for the response @discorick.

This answer will have a good deal of overlap to my response on: https://github.com/rauhryan/huboard/issues/588#issuecomment-157417431

IMO the real beauty of Huboard (which rocks btw) is how it handles your work flow agnostically. Work flow is completely handled by Github and merely represented on Huboard. On Github we can add any label to any issue so it seems

[2015-11-17 18:32] patdolem commented on #588
I think the user should be able to define what is the default column for the PRs. For example we have a [InProgress] column as part of our workflow and it should make sense for us to use it as the default one for the PRs instead of the [Backlog] one.

[2015-11-19 04:39] sp4ceb4r opened #611 "[Feature] Link 'blocked' issues with their blocking issue"
When an issue is blocked by another it would be helpful to link the blocked issue with the blocking issue.

Then, when the blocking issue is closed/resolved the blocked issue automatically unblocked.

[2015-11-20 15:11] discorick commented on #611
Cool idea!

[2015-11-20 15:48] discorick commented on #596
@benjamincharity, your right - there are increasingly more people than just devs using GitHub (and hopefully by extension HuBoard) so it makes sense to maintain a certain level of flexibility.

I really appreciate your comment about HuBoard handling work flow agnostically, we have realized over the past few weeks (our team is in San Antonio for the Techstars Cloud program) that our branding is not

[2015-11-20 15:54] discorick commented on #588
@patdolem @benjamincharity Ok, good feedback - it seems like the second-last column assumption is not going to be a viable solution. I think something like a drop-down box to select a default column for PR's in our settings page would be most flexible (rather than use a label)

[2015-11-20 22:20] patdolem commented on #588
I agree, a drop-down box in the settings page seems to be a good choice.

[2015-11-23 14:47] benjamincharity commented on #596
Awesome. Huboard has helped us create/manage a better work flow than ever before. Thanks for all the work!

[2015-11-23 21:29] kawillia commented on #598
@discorick This is the one we talked about today. Maybe I can find some time over the holiday to fix it up.

[2015-11-24 22:49] discorick commented on #598
@kawillia thats awesome! Ping me if you run into any trouble, I was planning to look over this over the weekend as well.

[2015-11-30 14:18] cbeams commented on #608
Just checking in on this issue—We're still seeing these duplicates pretty frequently. Any update? Thanks.

[2015-11-30 15:19] cbeams opened #612 "Support multiple assignees"
**Update:** GitHub just added [multiple assignees](https://github.com/blog/2178-multiple-assignees-on-issues-and-pull-requests) with [API support (preview)](https://developer.github.com/changes/2016-5-27-multiple-assignees/)!

In our development process, we distinguish several roles that can interact with a card throughout its lifecycle. Among them is the idea of a card  "Owner". A card's owner in

[2015-12-01 15:51] discorick commented on #608
@cbeams - sorry about the delay on this, I plan to get to work on it this week!

[2015-12-01 16:10] discorick commented on #602
Thanks for letting us know this is important to you @dylanfitz! Improving the repo listing view is on our roadmap for sure - I realize it's pretty clunky UX at the moment.

[2015-12-01 17:24] cbeams commented on #608
Great, thanks!

[2015-12-02 10:12] Ahimta commented on #276
Hi @rauhryan, @stanhu.

I've been working/studying this issue for a little while.
And I'm confident that I can make an elegant solution.
It will take me sometime (as all good things), and I don't pretend that it will be a walk in the park.

What makes these kind of issues challenging/interesting is that they deal with many
levels of abstraction. And they involve more than just code.
So implementin

[2015-12-02 16:06] cwramsey opened #613 "Labels disappear when hovering over them and don't show back up in an issue."
![uploads/f96c66d2-87e4-49d2-87fe-e7c98e2b1f39/Screen Shot 2015-12-02 at 9.54.59 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Ff96c66d2-87e4-49d2-87fe-e7c98e2b1f39%2FScreen+Shot+2015-12-02+at+9.54.59+AM.png)

You can also see the checkmark will show up on all labels when hovering as well.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://w

[2015-12-02 16:51] rauhryan commented on #276
Thank you @Ahimta

This is very well thought out and very helpful.

This is the first time I've ever managed a bounty, so I'm not quite sure how it works, maybe there is something you and @stanhu can work out to share the bounty.

It sounds like this is going to be a pretty decent undertaking, so maybe that's a good idea, I don't know.

I will reach out to bountysource and see if there is already

[2015-12-03 10:34] gutierrezj commented on #601
@rauhryan @discorick it's great to see that you guys are working on this feature! How's it coming along? Also one question: will the filtered link feature also filter out labels, milestones and team members that are not of interest?

[2015-12-04 13:06] benjamincharity commented on #611
Love this idea!

Also always wondered why the `blocked` and `ready for next stage` labels were handled outside the context of github labels..

[2015-12-04 13:10] benjamincharity commented on #571
Big  :+1:

[2015-12-04 13:10] benjamincharity commented on #569
:+1:

[2015-12-08 09:23] cbeams opened #614 "Updates to GitHub avatar are not reflected in HuBoard's Slack webhook"
I recently changed my GitHub avatar, and this change was immediately visible in HuBoard. Great.

However, messages being posted to Slack via HuBoard continue to use the old avatar. This looks like a caching issue.

[2015-12-16 20:39] discorick opened #615 "Option for Auto-Archiving issues"
Some Users prefer issues to immediately archive following close.

[2015-12-17 12:08] warent commented on #276
If you care at all about backwards compatibility, I strongly advise against using the solution by @stanhu
I recommend a polymorphic solution with an optional parameter to declare source (Github, gitlab, etc.) upon instantiation. Interface the current Ghee solution with an extension library determined by the earlier mentioned parameter.

Then none of the functions have to be changed at all, and you

[2015-12-30 16:44] discorick opened #616 "Dragging cards to issues with 0 order breaks sorting"
When dragging cards with either have 0 order, or to columns with cards with 0 order, sorting breaks and cards do not retain their expected position.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29486820-dragging-cards-to-issues-with-0-order-breaks-sorting?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_sourc

[2015-12-30 16:52] rauhryan commented on #616
Not trying to be pedantic, but I'd prefer bugs to go into the huboard/huboard-web repository

[2015-12-30 17:00] discorick commented on #616
Ah shoot, I mis-clicked the repo in the destination repo drop down. My bad Ill recreate the issue, closing.

[2015-12-30 17:00] #616 closed

[2016-01-02 18:49] rauhryan commented on #601
@patdolem @gutierrezj

This feature is now deployed to production on huboard.com

We will be packaging it up for enterprise very soon.

RE:

For right now, it only works for labels. We will consider adding milestones and team members later.

I'd really like to hear a solid use case for why milestones and assignee would be useful, as of now it doesn't seem like a good idea, mainly due to the fact t

[2016-01-02 18:50] rauhryan commented on #601
Going to close out this issue. Feel free to request a reopen if there is some kind of major issue with the feature.

[2016-01-02 18:50] #601 closed

[2016-01-04 16:09] ChrisMissal opened #617 "Show date when hovering on relative datetime"
GitHub does this in their web UI with a tooltip:

![image](https://cloud.githubusercontent.com/assets/67798/12093882/19603e6a-b2cb-11e5-9167-9668179b91c5.png)

It would be great if HuBoard would do the same!

[2016-01-04 16:18] rauhryan commented on #617
:+1:

On Mon, Jan 4, 2016 at 10:09 AM, Chris Missal <notifications@github.com>
wrote:

[2016-01-04 21:26] karlosmid commented on #255
Hi! This feature currently does not work. Regression issue?

[2016-01-04 21:31] rauhryan commented on #255
There might be a slight bug if you are NOT the creator of the comment.

I just tested it and it works if you are the author

[2016-01-04 21:48] karlosmid commented on #255
@rauhryan I am the author of the issue. But checkbox is not visible in issue description. You check this feature in huboard preview view?

[2016-01-04 22:24] rauhryan commented on #255
it doesn't work in the preview mode. It works once you create the comment

[2016-01-05 08:12] karlosmid commented on #255
@rauhryan checked!
Thanks!

[2016-01-05 16:58] carlshimer opened #618 "Search in huboard doesn't always work and is not finding keywords in title"
I am not sure exactly how Huboard search is supposed to work.  But it doesn't appear to always search the text in the title.

My search term: "GCM"

The issue I am looking for: "As a developer, we need an API endpoint for Android GCM notifications (Android push messaging)"

In fact, this ticket doesn't show up if you search for terms "Android" or "Developer".  Curious.

[2016-01-05 17:09] rauhryan commented on #618
Curious indeed, we will do some testing on that title and see what we can come up with

[2016-01-06 10:04] gabel opened #619 "Huboard Slack integration - user images always loaded from github.com instead of the github enterprise instance"
The user icon for webhooks is always resolved from `https://avatars.githubusercontent.com/u/1234?s=64` but if a github enterprise instance is used the icons should load from `https://github.domain.corp/avatars/u/1234?s=64`

For github enterprise users the wrong icons are resolved as their enterprise user id is used to load a user image from github.com with the same user id.

![06-01-2016 10-57-05]

[2016-01-06 10:57] mderazon opened #620 "Allow filtering by "mentioning me""
In the filters pane, it would be cool to filter issues that mention the current user.

I would probably be most appropriate in the `Assignment` section, although it's not really an assignment, just an idea...

![screen shot 2016-01-06 at 12 53 25 pm](https://cloud.githubusercontent.com/assets/717076/12141025/e484ea1e-b474-11e5-91e1-b8a6cd0b86ef.png)

(sorry for the lame photo work)

[2016-01-08 09:01] GCStokum commented on #611
Yes! I'm as addicted to Jira as Github for keeping work tidy, and that is a Very important part of workflow when you've got peeps working cross department and such.

[2016-01-11 18:13] yaronyg commented on #208
I just want to be able to stick basic estimates on issues and then add them up to see if our current thinking on deliverables even passes the chuckle test.

[2016-01-14 19:27] discorick opened #621 "UX for Column Creation/Configuration"
- Rename Columns
- Add Columns
- Remove Columns

[2016-01-14 19:29] discorick opened #622 "Settings Gear does nothing from the Setting Page"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29884094-settings-gear-does-nothing-from-the-setting-page?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_sou

[2016-01-14 20:54] discorick opened #623 "UX Requests"
An Epic, to be broken out into actionable tasks.

- Theme Selection
- Comment Counts (on the Card)
- Compact Issue View
- Adjustable Column Width (for adjacent cards in the same column)

[2016-01-14 22:25] #613 closed

[2016-01-14 22:33] discorick opened #624 "Frequent Logouts when using GitHub on different devices"
Going to reach out to the GitHub API and see what they think of this one.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29889406-frequent-logouts-when-using-github-on-different-devices?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2016-01-14 22:43] discorick opened #625 "Close Issue Button UX"
This is a common frustration where "Close issue" button is interpreted as "Close this Issue Modal".

Proposal, change copy to "Mark as closed" and add an "X" button to the top right of the issue modal.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29889672-close-issue-button-ux?utm_campaign=plugin&utm_content=tracker%2F282362&utm_m

[2016-01-15 21:15] discorick opened #626 "Switching to Milestones Tab Performance"
The performance hit  (Time to Render) for switching to the Milestones tab increases significantly with high issue counts

closed by huboard/huboard-web#280

[2016-01-18 18:15] #622 closed

[2016-01-18 19:27] rauhryan opened #627 "Automatically selected filtered labels from linked repositories when selecting from the repo chooser"
As a project manager, when I'm creating issues from the master repository and I have a linked repository constrained to a set of labels, those labels should be selected by default when creating issues from the master board.

![uploads/b93f4065-1673-40f2-ba73-6ca51d43dd2b/huboard_huboard_HuBoard.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fb93f4065-1673-40f2-ba73-6ca51d43dd2b%

[2016-01-18 23:17] rauhryan opened #628 "Integrate HuBoard with Sidecar from Gitter.im"

[2016-01-19 23:01] #625 closed

[2016-01-21 03:46] rauhryan commented on #598
@discorick can you verify this is still an issue?

[2016-01-25 16:33] seanlinsley commented on #608
Our team has been seeing this for months; I only just now looked for an existing ticket.

[2016-01-25 17:07] rauhryan commented on #608
Thanks @seanlinsley

We are working on it!

Sorry, I'll ping the team and see what I can do

[2016-01-26 16:39] cbeams commented on #612
Just checking in here—has this issue been noticed? Any indication of whether this is something the HuBoard team is interested in would be helpful. Not necessarily looking for a commitment—just whether this is something it's reasonable to think _might_ happen.

[2016-01-26 16:50] rauhryan commented on #612
Hey @cbeams

I haven't had time to fully review this request

yes

not yet

yes, this is something we would consider adding

---

Multiple assignees is something I'm thinking about, I have some rough ideas on how I would like to see it happen.

We have a serious limitation for this feature, considering GitHub only supports a single assignee.

I like the idea of an "owner" and a "reviewer" that cou

[2016-01-26 16:53] cbeams commented on #612
Thanks. Happy to discuss further. Just let me know how I can help. Appreciate the quick response!

[2016-01-26 17:05] rauhryan commented on #612
I'm in the zone @cbeams :stuck_out_tongue_closed_eyes:

[2016-01-26 17:09] dahlbyk commented on #612
Does LeanKit have the notion of roles for assignees or is it simply a collection of participants? There are interesting things you could do with assigned roles, but it seems like a rabbit hole of complexity that may not align with HuBoard's general simplicity.

One route to take here might be to save a list of "secondary assignees" in the issue metadata (which, being saved in the issue description

[2016-01-26 17:29] cbeams commented on #612
I think it's the latter, but honestly don't remember. In any case...

I agree. I think this is something where the 80% of usefulness (certainly the stuff that would satisfy us) can be handled by a relatively simple approach.

+1

We could also support "promoting" a secondary to be the Assignee in GitHub, swapping the previous Assignee back into the secondary list.

+1

And finally, the secondary a

[2016-02-01 15:26] discorick commented on #598
Confirmed @rauhryan, this is still an issue.

[2016-02-01 23:08] rauhryan commented on #343
Reopened via 	28ae99b

[2016-02-02 22:22] patdolem commented on #343
@rauhryan This was working for us. What is the problem?

[2016-02-02 22:50] discorick commented on #343
Hey @patdolem @rauhryan  , there is a rare bug that can cause the copy to clear out a columns issues - we just wanted to disable this on Saas until we have a proper fix. We _should_ have this addressed before the next HB:E release.

[2016-02-03 16:09] misterfitz commented on #619
:+1:

[2016-02-03 16:09] misterfitz commented on #614
:+1: Would love to have this fixed! @rauhryan

[2016-02-05 19:06] tienyuan opened #630 "Feature Request: Make Pull Request visibility a setting"
I'd like to be able to toggle off Pull Requests and not see them on Huboard.

My team only tracks Issues in our workflow, so our PRs just clog up our first stage.

[2016-02-05 21:02] discorick commented on #620
Hey @mderazon - I like this idea, but it's probably something we won't be able to execute soon. The reason being; when we query the API for issues on board load - each individual issue does not contain its activity payload, only the title and the original body. It would be far too expensive to get the additional data for each issue.

Having said that, it wouldn't be all that difficult to filter by

[2016-02-05 21:11] petey-rock commented on #630
Hi Tien,
Here is a short video that demonstrates filtering for issues only. Also, if you copy the url you can share the filtered board with your team. Please let us know if this solves your problem!
Thanks!

<iframe width="640" height="360" allowTransparency="true" mozallowfullscreen webkitallowfullscreen allowfullscreen style="background-color:transparent;" frameBorder="0" src="https://app.ilosvi

[2016-02-05 21:12] petey-rock commented on #630
http://ilos.video/Qxwgot

[2016-02-05 21:24] tienyuan commented on #630
Yes, I normally filter now. I'd just rather have this as a optional setting.

[2016-02-05 21:27] patdolem opened #631 "Important display problems since we installed HB:E v1.6.107"
We are experiencing the following problems:
- [ ] Tasks columns display is not fitting the screen
- [ ] Columns width are not always the same (this cause the problem above)
- [ ] The X that was visible on a filter when selected is not anymore displayed

We'll have to roll-out to the previous release as these display problems are too much disrupting unless this can be fixed asap.

<bountysource-plu

[2016-02-05 21:31] patdolem commented on #631
Adding some screenshots:
This screenshot shows it's not fitting the screen (the Done column is not visible)
![display issue 1](https://devtopia.esri.com/github-enterprise-assets/0000/0014/0004/4150/5e5df93a-cc0c-11e5-94e3-85d7888e37d7.png)

This screenshot shows a fit in the screen but the backlog and Done column are larger than the others.nother
![display issue 2](https://devtopia.esri.com/github

[2016-02-05 21:42] patdolem opened #632 "Total in the column header is always displayed (HB:E)"
This happens even when the box in the General settings is unchecked.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30590117-total-in-the-column-header-is-always-displayed-hb-e?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2016-02-08 21:29] patdolem commented on #631
@rauhryan When do you expect the new release to be delivered?

[2016-02-08 21:42] rauhryan commented on #631
We are having some trouble reproducing the error consistently.

It's possible that it's a problem with the latest version chrome.

Once we can nail it down it's very simple to package up a new release.

@discorick is looking into it today

[2016-02-08 22:13] rauhryan commented on #631
Screen shot of the fix

![uploads/18b5aee0-e374-499c-a020-9edb6f078081/rauhryan_skipping_stones_repo_HuBoard.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F18b5aee0-e374-499c-a020-9edb6f078081%2Frauhryan_skipping_stones_repo_HuBoard.png)

[2016-02-08 22:40] rauhryan commented on #631
My team needs to review and accept my PR, I can get a new release built quickly after that.

Sent from my iPhone

[2016-02-08 22:56] patdolem commented on #631
Screen shot looks good. Hope it'll be OK soon. Thanks.

[2016-02-08 23:15] dahlbyk commented on #631
@rauhryan did you have a chance to look into this, too?

[2016-02-08 23:22] rauhryan commented on #631
That was by design, the X was confusing users and made the Dim/Hide functionality

[2016-02-09 01:00] rauhryan commented on #631
@patdolem -

I'm building a new package right now

I need to test it locally to make sure everything is good to go, I'll ping you when I get a new version on the portal

[2016-02-11 15:45] discorick commented on #631
@patdolem We plan to release this to enterprise tomorrow (the current release just needs a little more testing).

Today is Techstars Demo day, if you are interesting in watching @rauhryan pitch HuBoard, tune into: http://tsta.rs/Y69i7 at 3:00PM CST.

[2016-02-14 03:08] seanlinsley commented on #631
Are Bountysource and Huboard conflicting with eachother when adding text to the end of tickets?

<img width="718" alt="screen shot 2016-02-13 at 9 08 04 pm" src="https://cloud.githubusercontent.com/assets/688886/13031530/edb5ec48-d295-11e5-8ce4-d6f53d6cbc6d.png">

[2016-02-14 19:12] rauhryan commented on #468
@betamatt - we are aware that the permissions model is very broad

Please refer to https://github.com/huboard/huboard/issues/203#issuecomment-21295111 for our thoughts on the issue.

dear-github/dear-github#113 <- has a great write up and a great discussion around the issue.

I'm going to close the issue, because it's not something that is actionable by anyone on our team.

As soon as GitHub imple

[2016-02-14 19:12] #468 closed

[2016-02-14 19:15] rauhryan commented on #631
I just removed the plugin, hopefully we won't see the double posting anymore

[2016-02-15 16:35] petey-rock opened #633 "Filter Issues by ready and unmarked"

[2016-02-16 16:39] petey-rock opened #634 "[MARKETING] Create welcome email in SendGrid"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30905358-marketing-create-welcome-email-in-sendgrid?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282362&utm_medium=issues&utm_source=gi

[2016-02-16 17:14] #634 closed

[2016-02-17 15:37] dahlbyk opened #635 "Expire Trial Expirations"
Customers that tried the product a while ago (6mo?) should be offered a new trial automatically, rather than requiring a Support contact. If we _do_ find an expired trial or lapsed account for a user/org, the current "You'll need to upgrade your account to get those kinds of permissions." messaging should probably be more helpful, i.e. "Your trial expired yesterday!" or "Your subscription was canc

[2016-02-17 19:47] smiller171 commented on #611
I'm wondering the same @benjamincharity

[2016-02-17 22:51] dahlbyk commented on #631
I just added https://github.com/huboard/huboard-web/issues/205 to more completely document the column width and wrapping issues I'm still seeing in Firefox. Everything seems fine in Chrome.

[2016-02-18 20:35] dahlbyk commented on #635
In the context of huboard/huboard-web#179, this should have tracking/UX separate from `expired` or `cancelled`, maybe `/settings/{owner}/reactivate`?

[2016-02-20 03:27] dahlbyk commented on #611
We should definitely represent the Blocked and Ready states with GitHub labels. The challenge is how to handle that label - do we just pick a label name and create such a label if it doesn't already exist? Many projects (including [HuBoard](https://github.com/huboard/huboard/labels/BLOCKED)) already have an equivalent label, and I'm not sure we'd want to create a new, similar label in those repos.

[2016-03-09 19:22] dahlbyk commented on #619
Is this related to #614?

[2016-03-09 19:33] dahlbyk commented on #607
Taking this a step further, I'd love to align URLs with GitHub, i.e. https://github.com/huboard/huboard/issues/607 and `https://huboard.com/huboard/huboard/issues/607` would pull up the same issue. Ideally this URL would also be the default URL while navigating around HuBoard, leaving the current `#/issues/123456780` supported only for legacy purposes.

This is complicated by the presence of linke

[2016-03-09 19:37] dahlbyk commented on #596
@thuey said in https://github.com/huboard/huboard-web/issues/113:

[2016-03-09 19:55] dahlbyk commented on #543
@rauhryan @discorick Is there a particular reason you guys implemented two separate orderings of issues? I'm tempted to just start ignoring `milestone_order` altogether to focus on preserving relative order of cards in a given column or milestone.

[2016-03-09 19:57] dahlbyk commented on #529
AFAIK GitHub ignores tasks anywhere but the issue description.

[2016-03-09 20:15] dahlbyk commented on #598
Is GitHub firing an event when the issues close? I just happened to close an issue with a PR and the Events API shows separate `PullRequestEvent` and `IssuesEvent` payloads: https://gist.github.com/dahlbyk/c6bf0fe0c4a7f23c5b86

@disckorick do we have an issue somewhere to track that `PullRequestEvent` is not currently being handled?

[2016-03-11 07:48] dahlbyk commented on #606
Is there more to this than https://github.com/huboard/huboard-web/issues/179?

[2016-03-11 07:49] gabel commented on #619
Not at all. This issue is caused by using the wrong URL to fetch the image. If you have a github enterprise instance the images should be fetch from `ttps://github.domain.corp/avatars/u/1234?s=64` and not from `https://github.domain.corp/avatars/u/1234?s=64`.

[2016-03-11 14:32] hwinkel commented on #276
Is there any progress on that?

:+1:

[2016-03-11 15:28] discorick commented on #543
Without a separate ordering mechanism on the milestone view, card moves from the task view would create non-sensical ordering on the milestone view (currently). Card order on milestones typically reflect their priority on that milestone, but they can also be in varied stages of completion (backlog, working, review etc.).

It's proven very difficult to find a comprise that works such that moves are

[2016-03-11 15:37] discorick commented on #598
GitHub should be firing issue close events on referenced issue closes, but not on the PR issue itself. As you mentioned the `PullRequestEvent` handles _some_ events for PR issues.

@dahlbyk do now, https://github.com/huboard/huboard-web/issues/231

[2016-03-11 17:06] dahlbyk commented on #543
Clearly not as straightforward as I had thought. It seems reasonable for the Milestone view to give special treatment (i.e. limitations) to cards that have left the first column on the Task board, but I'm not sure what those limitations would need to be to make a single `order` value work.

[2016-03-11 21:52] rauhryan commented on #276
@warent & @hwinkel

Sorry for not getting back to you sooner.

I unfortunately was unable to keep up with the work required to mentor @stanhu through this process.

We only have a team of 2 developers right now and got way too busy supporting and maintaining the users that we currently have.

I'm available to answer questions if someone wants to take another stab at it

[2016-03-15 16:06] rauhryan commented on #619
Found where the fix needs to be implemented

https://github.com/huboard/huboard-web/blob/master/lib/hu_board/services/slack.rb#L32

//cc @huboard/committers

[2016-03-15 19:42] discorick commented on #614
This will be fixed with https://github.com/huboard/huboard-web/pull/238 @cbeams @misterfitz

[2016-03-16 01:45] #614 closed

[2016-03-16 01:45] #619 closed

[2016-03-16 03:14] dahlbyk commented on #614
I'm honestly not sure why #238 would have fixed this, but it does seem to have:

<img width="236" alt="slack_2016-03-15_22-11-47" src="https://cloud.githubusercontent.com/assets/133987/13800871/05150f0e-eafb-11e5-9e22-76703b4a9b6a.png">

Unless there's something else at play?

[2016-03-16 16:10] dahlbyk commented on #619
@gabel @misterfitz So @rauhryan reminds me that we've probably only solved part of the problem. Is it fair to assume that your avatar URLs won't be accessible to Slack? We could potentially add an Enterprise flag that swaps in a (publicly-available) HuBoard logo instead of Slack trying to resolve user avatars. Thoughts?

[2016-03-16 17:29] dahlbyk commented on #619
We're trying to get a HB:E release out the door, so we're just going to hard-code a HuBoard avatar for now on Enterprise. @discorick, the image is in #marketing and can live at https://huboard.com/assets/slack/avatar.png or something.

-----

If you're an Enterprise customer and would like something _other_ than a HuBoard logo for your Slack notifications, this would be a good place to vote for yo

[2016-03-18 20:23] patdolem commented on #631
Everything is good for us now. We are using Chrome.

[2016-03-18 20:37] rauhryan commented on #631
We just fixed it in Firefox as well and should have a new release out soon.

- Ryan

On Fri, Mar 18, 2016 at 3:23 PM, Patrick Dolemieux <notifications@github.com

[2016-03-18 21:24] dosire commented on #276
@stanhu what do you suggest as the next step here?

[2016-03-20 18:27] stanhu commented on #276
@dosire I'll see if I can push this along further in the next few weeks. I last ran into questions about how to deal with OAuth2 support between GitHub and GitLab:

https://github.com/huboard/huboard-web/pull/157

[2016-03-21 04:33] rauhryan commented on #631
Just released a hotfix version on the enterprise portal 1.6.115

[2016-03-21 23:57] discorick opened #637 "Filtering by labels with long names has a troublesome UX"
It can be difficult to identify what filters are active if the labels are exceptionally long. A suggested UX for this on intercom is a display for active filters.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32121192-filtering-by-labels-with-long-names-has-a-troublesome-ux?utm_campaign=plugin&utm_content=tracker%2F282362&utm_mediu

[2016-03-22 15:03] rauhryan commented on #560
@patdolem I think this is done.

we added this a while back and it seems to be working well.

I'm going to mark this issue as closed

[2016-03-22 15:07] discorick commented on #560
This hasn't been done, the request is that as issues are filtered down, only display filters that exist in the currently visible issues.

[2016-03-22 15:14] rauhryan commented on #560
Ohhhh right. my bad.

Yes, totally doable

[2016-03-22 18:32] ajturner commented on #637
Another for example - filters are added across the top.

http://catalog.data.gov/dataset?q=charlotte&groups=local&sort=score+desc%2C+name+asc&res_format=Esri+REST

or

![uploads/0469d97e-d528-4e48-9261-fc4d1bbf27cf/Best_Whiskey_-_Reviews_and_Ratings.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F0469d97e-d528-4e48-9261-fc4d1bbf27cf%2FBest_Whiskey_-_Reviews_and_Ratings.png)

[2016-03-22 21:40] rauhryan commented on #637
:+1:

[2016-03-22 22:40] dahlbyk commented on #637
Alternatively, I've been pondering a horizontal "drawer" above the board for filtering (vs sliding in from the side), which would give more horizontal room for long labels.

[2016-03-22 23:40] rauhryan commented on #637
Would it be acceptable to set a max-width and truncate with a tooltip?

 - Ryan

On Tue, Mar 22, 2016 at 5:40 PM, Keith Dahlby <notifications@github.com>
wrote:

[2016-03-23 01:32] dosire commented on #276
OK, thanks @stanhu

[2016-03-23 02:36] ajturner commented on #637
I think so - one issue may be long labels with prefixes. How many characters would be visible?

[2016-03-23 02:37] ajturner commented on #637
Alternatively, I've been pondering a horizontal "drawer" above the board for filtering (vs sliding in from the side), which would give more horizontal room for long labels

That would exacerbate the large number of labels.

[2016-03-23 05:11] dahlbyk commented on #637
Are these labels long enough to produce the undesired behavior?
https://huboard.com/rauhryan/skipping_stones_repo/#/issues/132264941

[2016-03-23 16:29] a15a opened #638 "Can't access a repo owned by a different GH user"
I'm trying to access REPO owned by ORG by signing on HuBoard with this github account (a15a)

a15a has admin access over REPO, but REPO is owned by ORG, not by a15a

REPO shows up properly on my HuBoard "repositories" page, displaying `ORG / REPO - 88 issues`

When I click on it, the url is huboard.com/ORG/REPO. Visiting it displays a page with the error "HOLD UP! Your subscription for ORG has bee

[2016-03-23 17:03] discorick commented on #638
Hey @a15a , I left a more detailed explanation of what's going on via our support channel. Closing this issue.

[2016-03-23 17:03] #638 closed

[2016-03-23 18:22] a15a commented on #638
Thanks!

[2016-03-24 17:17] discorick commented on #542
Wow, it looks like I dropped the ball on keeping this issue up to date. @TheEadie, you are correct we don't necessarily need a datastore for bulk actions, but our API rate limits are always a concern with these kinds of things.

Until the GitHub API supports bulk actions we have been recently looking at alternative ways to implement this, the most promising is a client-side alert on HuBoard inform

[2016-03-24 18:33] rauhryan commented on #276
@dosire @stanhu we got stalled out on how to handle the OAuth and being able to switch between GitLab and GitHub.

We have a lot of places in the application that rely on the warden failure app to capture warden exceptions to display the correct error pages.

I spiked out using multiple strategies with warden and was unable to get my head around how the whole stack works because it's very difficul

[2016-03-24 18:37] stanhu commented on #276
I think there could be more progress made on the conversion of the API queries, but I think it's important to straighten this out before going further.

Are you saying that you want to stick with warden or go with omniauth?

[2016-03-24 20:43] dahlbyk commented on #638
Here's the explanation that was provided via support, for others' reference.

[2016-03-24 22:51] rauhryan commented on #276
for right now we need to stick to warden because we rely on it for the error handling and transitioning between OAuth permission scopes.

I spent several days spiking out different login strategies and couldn't figure out a great way to make it all work right with omniauth

https://github.com/huboard/huboard-web/compare/8fbe0ab...5cf50bd

omniauth is very basic and leaves all the storage options u

[2016-03-25 17:54] rauhryan commented on #637
confirmed:
![rauhryan_skipping_stones_repo_huboard_and_rauhryan_skipping_stones_repo_huboard](https://cloud.githubusercontent.com/assets/68954/14050207/67078b58-f288-11e5-8e24-2bd08746ac1f.png)

fix included in https://github.com/huboard/huboard-web/pull/250

![rauhryan_skipping_stones_repo_huboard_and_rauhryan_skipping_stones_repo_huboard](https://cloud.githubusercontent.com/assets/68954/14050256

[2016-03-25 18:05] discorick commented on #637
@rauhryan nice! What does the extra long label do ? Truncate?

[2016-03-25 18:26] rauhryan commented on #637
Handles them pretty gracefully
![rauhryan_skipping_stones_repo_huboard_and_rauhryan_skipping_stones_repo_huboard](https://cloud.githubusercontent.com/assets/68954/14050918/3515171e-f28d-11e5-98af-5736398bbb84.png)

[2016-03-25 18:37] #637 closed

[2016-03-25 20:27] dahlbyk commented on #418
@rauhryan can you paste in the actual conversation here for those without Intercom access? This seems related to #271.

[2016-03-25 20:33] dahlbyk commented on #443
We're now on Ruby 2.2.1; this seems to no longer be relevant.

[2016-03-25 20:33] #443 closed

[2016-03-25 20:40] patdolem commented on #452
@rauhryan When this feature will be available. We are eager in getting it. This will help a lot planning our sprints.

[2016-03-25 21:23] dahlbyk commented on #631
@patdolem are we good to close this?

[2016-03-25 21:33] #518 closed

[2016-03-25 21:34] dahlbyk commented on #632
@patdolem I have not been able to reproduce this after checking several browsers. Are you still seeing this issue? I assume you tried toggling the setting?

[2016-03-25 21:36] patdolem commented on #631
@dahlbyk Yes it's good for us. It was already and is still working on Chrome.

[2016-03-25 21:40] patdolem commented on #632
@dahlbyk It's not happening anymore so it can be closed.

[2016-03-25 21:48] rauhryan commented on #452
@patdolem we just had a backlog planning meeting and this is one of our top priorities after we have finished our current issues in our Next Release column in HuBoard

https://huboard.com/huboard/huboard

We have 13 issues to get through and then we will be working on a card redesign and the horizontal scrolling issue.

Can't give you an exact date but we are 100% in development mode right now to

[2016-03-28 01:49] dahlbyk commented on #452
Would we be able to ship the horizontal scroll bar separate from independently-scrolling columns?

[2016-03-28 01:52] dahlbyk commented on #632
:cool:

[2016-03-28 01:52] #632 closed

[2016-03-28 01:52] #631 closed

[2016-03-30 14:20] dahlbyk commented on #506
This absolutely makes sense, but is not a capability offered by GitHub's access controls — our options are literally "public" or "public + private". We get this feedback often, and will keep working with GitHub to improve the granularity with which you can allow access.

[2016-03-30 14:26] dahlbyk commented on #303
Was going to create a new issue for this, but I'll just reopen this one.

Security best practices prohibit actively treating "access denied" 404s differently from "actually missing" 404s (otherwise we leak the existence of the private board), but we should absolutely include a prominent Login button on the 404 page to handle the common unauthorized use case.

[2016-03-30 17:38] rauhryan commented on #452
@dahlbyk not really, it's a pretty big and complex change that requires some layout changes and new scrolling logic

[2016-03-31 13:52] kiernanmcgowan opened #639 "Show what changed from yesterday"
During morning standup I find myself looking through my github issues to figure out what I did yesterday, and there really isn't a good way to answer that question.

It would be helpful if huboard was able to answer 'What did I do yesterday?' and show what happened with issues that I was assigned to. This could also be extended to 'What am I doing today?' and show my issues that are marked as 'doi

[2016-04-01 10:33] RicSwirrl opened #640 "IE11 support"
We've managed to persuade a client to use HuBoard to work with us on a project, but they can only use IE11 (their IT policy doesn't allow them to install other browsers). When they log in to the board they don't see any issues (I've reproduced this on a VM running IE11). We've got a paid HuBoard account but this might be a show stopper for us and we may have to use a different tool for this projec

[2016-04-01 15:03] dahlbyk commented on #640
Great!

Sigh.

Yeah, we're reminded of it periodically—even basic support for modern IE is overdue.

It will certainly take some time to work out all the kinks, but just two fixes in I can see and interact with a board. There is hope!
<img width="1034" alt="iexplore_2016-04-01_10-03-02" src="https://cloud.githubusercontent.com/assets/133987/14210941/f5bd3808-f7f0-11e5-8086-951124ce18c9.png">

[2016-04-01 17:05] RicSwirrl commented on #640
cool - thanks for picking this up :)

[2016-04-01 17:12] discorick commented on #639
I really like this idea! I am constantly jumping back and forth between issues and PR's to remember what I did  the day before on our slack standups.

[2016-04-01 20:57] dahlbyk commented on #343
Re-closing this now with https://github.com/huboard/huboard-web/pull/249 (allow copy board if the board being copied doesn't have any columns) shipped. This will be in the next enterprise release.

[2016-04-01 20:57] #343 closed

[2016-04-02 05:16] jgranick opened #641 "Do not update on Slack when you rearrange issues under a milestone"
Hi!

Been trying out HuBoard, liking it so far (particularly for the Milestone tab)

I noticed that in the Slack notifications, we get a notification that "@user changed milestone of repo/repo#1234 to Milestone" each time the sort order is changed. It would be great if these extra messages could be removed, to keep our Slack chat tidier?

Thanks!

<bountysource-plugin>
---
Want to back this issue?

[2016-04-02 05:21] jgranick opened #642 "Add title and description for a new issue"
Hello,

It would be nice if there was a way to add both a title and description to a new issue added on HuBoard. I have been the Milestones view to lay out issues, but I cannot see a way to add a description before the issue is created (I thought maybe shift+enter would do it?)

Our Github is linked to Slack, and when a new issue is created in this format, we get two messages from HuBoard then Git

[2016-04-03 00:40] dosire commented on #276
@stanhu It would be great if you can have a look at this. I know you're busy but integrating with Huboard would complete an important part of our scope https://about.gitlab.com/direction/#scope

[2016-04-03 16:58] dahlbyk commented on #641
Thanks for the bug report! We're already trying to avoid this, it's just not quite working. We should be able to ship a fix shortly.

[2016-04-03 18:49] dahlbyk commented on #641
Does this card movement/notification align with your expectations?
![milestone-moves](https://cloud.githubusercontent.com/assets/133987/14234213/ad2946a0-f9a2-11e5-8668-165b715827df.gif)

[2016-04-03 19:40] dahlbyk commented on #642
Clicking on the + button will prompt for more details. I agree that a keyboard shortcut would make sense. For my part, I would expect <kbd>Enter</kbd> to create a simple issue and <kbd><kbd>Ctrl</kbd>-<kbd>Enter</kbd></kbd> to prompt for description (c.f. https://github.com/huboard/huboard-web/pull/257#issuecomment-204782061).

We willl also require a description if you use a [GitHub Issue Templat

[2016-04-07 15:15] #641 closed

[2016-04-07 16:22] petey-rock opened #643 "Forms maintain status"
When filling out a ticket, If the refresh button is hit, the text in the ticket will be maintained.

[2016-04-07 16:24] petey-rock commented on #643
![uploads/bc70a018-dc68-45ff-a462-c20f29e3f28f/Screen Shot 2016-04-07 at 11.23.43 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fbc70a018-dc68-45ff-a462-c20f29e3f28f%2FScreen+Shot+2016-04-07+at+11.23.43+AM.png)

[2016-04-08 00:54] dahlbyk commented on #641
@jgranick this fix is live now - please let us know if you have any other issues with notifications (or HuBoard in general)!

[2016-04-08 14:27] dahlbyk commented on #640
@RicSwirrl basic support for IE 11 is now live. I know of scroll/formatting issues with the filter sidebar, but otherwise everything seems to be working as expected. Please have your client give it another try and let us know if there are any other issues!

[2016-04-12 16:36] patdolem opened #644 "Ability to remove and add back milestones in the milestones view"
We can have a large number of active milestones (the minimum is 9 milestones and worth case I have is 22) so even scrolling is not easy in this case. The milestone collapsing is good but it is still using a large part of the visible display. Some of these milestones are not used regularly so it should be good to be able to select some of them and just remove them temporarily (meaning we need a UI

[2016-04-12 18:44] dahlbyk commented on #644
I can definitely see how planning with many milestones would be a problem. How does this sound for a hidden milestone user experience?

* "Hidden" status would be managed by a checkbox in the New/Edit Milestone dialog.
* A "Show hidden" checkbox (off by default) would be available under Filters > Milestones to control visibility.
   * Filter would not show if no open milestones are marked as Hidde

[2016-04-12 20:00] patdolem commented on #644
That sounds good to me.

[2016-04-14 19:21] bs85 opened #645 "Error when closing an issue"
We have self-hosted huboard deployed on a heroku server. I can't give you more details as I don't have access to the server right now, if you need more info on version / whatever, let me know and I'll dig.

From the main issues page, if I click on an open issue, write a message and click on "mark as closed", the message is sent to github and the issue closed properly, but the interface freezes and

[2016-04-14 19:25] discorick commented on #645
Looks like the `socket` is missing... Is this consistent behavior (does a refresh fix it)? Also do you know what commit you are running on ?

[2016-04-14 20:02] bs85 commented on #645
Refresh doesn't fix it, it happens 100% of the time.

I'll get back to you when I can get the into about the commit we're running, thanks for the quick reply

[2016-04-15 15:33] dahlbyk opened #646 "New milestone should not default to due today"

[2016-04-15 15:37] dahlbyk commented on #633
To clarify, is the goal here to be able to filter issues by issue status?

* Closed
* Ready
* Blocked
* (not Closed/Ready/Blocked)

[2016-04-15 15:51] dahlbyk commented on #309
Closing this. We suggest creating PRs that "Close #xxx" rather than converting because closed PRs cannot be reopened if the issue was not actually resolved sufficiently by the converted-to-PR code. We are actively discussing how to improve the UX around issue/PR combinations to avoid needing to manipulate both within HuBoard.

[2016-04-15 15:51] #309 closed

[2016-04-15 15:54] #606 closed

[2016-04-15 15:55] dahlbyk commented on #642
I'm going to close this - please reopen if I've misunderstood your request.

[2016-04-15 15:55] #642 closed

[2016-04-15 15:58] dahlbyk commented on #590
We may be able to tackle this after https://github.com/huboard/huboard/issues/452.

[2016-04-15 16:04] dahlbyk commented on #261
We will likely tackle this as part of https://github.com/huboard/huboard/issues/452.

[2016-04-15 16:07] dahlbyk commented on #543
For the record, we're still pondering how to handle the relationship between Milestone and Task ordering.

[2016-04-15 16:12] dahlbyk commented on #214
We're looking to solve this as part of https://github.com/huboard/huboard-web/issues/226

[2016-04-15 16:19] dahlbyk commented on #148
Closing this since the Task/Milestone filter list now only shows users that are currently assigned.

[2016-04-15 16:19] #148 closed

[2016-04-15 16:33] discorick opened #647 "Closing Issues from HuBoard can cause exceptions"
The message handlers throw an exception when the payload is received and has no `actor`. This consequently breaks app behavior.

[2016-04-15 16:33] dahlbyk commented on #156
We're using the `/user/repos` endpoint for the primary dashboard screen, sorted by issue count. We will probably revisit the dashboard at some point to improve the experience for users with access to many projects, but for now this is working as intended.

[2016-04-15 16:33] #156 closed

[2016-04-15 16:53] dahlbyk commented on #236
Closing as duplicate of #260

[2016-04-15 16:53] #236 closed

[2016-04-15 16:55] dahlbyk opened #648 "Closed issues on Milestones view"
Closed issues are annoying on the Milestones view. We should either:

1. Add an Archive button like on the Tasks board
2. Just hide them

[2016-04-15 17:03] #239 closed

[2016-04-15 17:05] #298 closed

[2016-04-15 17:06] dahlbyk commented on #298
This isn't specific enough to be actionable. I'm actively using Firefox and will keep an eye out for opportunities to improve.

[2016-04-15 17:08] dahlbyk opened #649 "Responsive All The Things™"
Experience on non-desktop devices needs some love.

[2016-04-15 17:09] #299 closed

[2016-04-15 17:09] dahlbyk commented on #299
Closing in favor of #649

[2016-04-15 17:12] dahlbyk commented on #310
Related to https://github.com/huboard/huboard/issues/590

[2016-04-15 17:14] #316 closed

[2016-04-15 17:14] dahlbyk commented on #316
Closing in deference to #454

[2016-04-15 17:14] #322 closed

[2016-04-15 17:14] dahlbyk commented on #322
Closing in deference to #649

[2016-04-15 17:16] #323 closed

[2016-04-15 17:16] dahlbyk commented on #323
I'm going to go ahead and close this in deference to https://github.com/huboard/huboard-web/issues/195. Generally, if you want a "accepted, approved, rejected, will not review" type workflow you're going to want to use a tool like Gerrit.

[2016-04-15 17:18] dahlbyk commented on #325
[Native GitHub reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) are not exposed through the API yet, but when they are...

[2016-04-15 17:20] #340 closed

[2016-04-15 17:22] #342 closed

[2016-04-15 17:23] dahlbyk commented on #342
We would certainly accept PRs to fix specific issues in less common browsers!

[2016-04-15 17:24] #359 closed

[2016-04-15 17:24] dahlbyk commented on #359
Closing in deference to #649

[2016-04-15 17:25] dahlbyk commented on #362
HuBoard is probably not the right tool for this, beyond using Milestones which already support due dates. We're trying to stay very close to data we can represent using GitHub features.

[2016-04-15 17:25] #362 closed

[2016-04-15 17:29] dahlbyk commented on #381
We would accept a PR for this. :stuck_out_tongue_winking_eye:

[2016-04-15 17:29] #381 closed

[2016-04-15 17:31] #389 closed

[2016-04-15 17:31] dahlbyk commented on #389
Closing as duplicate of #389

[2016-04-15 17:34] dahlbyk commented on #409
Closing in deference to https://github.com/huboard/huboard/issues/452, which has more discussion. Hope to finally have this resolved very soon.

[2016-04-15 17:34] #409 closed

[2016-04-15 17:40] #436 closed

[2016-04-15 17:40] dahlbyk commented on #436
We now support [GitHub Issue Templates](https://help.github.com/articles/creating-an-issue-template-for-your-repository/)! See https://github.com/huboard/huboard-web/issues/206 and https://github.com/huboard/huboard-web/pull/248 for details.

[2016-04-15 17:41] dahlbyk commented on #442
Closing as duplicate of #581

[2016-04-15 17:41] #442 closed

[2016-04-15 17:43] #478 closed

[2016-04-15 17:43] dahlbyk commented on #478
Closing in deference to #649

[2016-04-15 17:46] #481 closed

[2016-04-15 17:46] dahlbyk commented on #481
We now prevent copying HuBoard labels unless the target board has no HuBoard labels. We may revisit and create a more comprehensive column manager, but for now I believe we adequately guard against the issue you ran into. Sorry, again, for the data loss. :frowning:

[2016-04-15 17:50] dahlbyk commented on #495
The goal is to make the HuBoard web app responsive (see #649), but a separate mobile app would be interesting...

[2016-04-15 17:51] dahlbyk commented on #502
@rauhryan is this still an issue?

[2016-04-15 17:52] dahlbyk commented on #648
Closing as duplicate of https://github.com/huboard/huboard/issues/517

[2016-04-15 17:52] #648 closed

[2016-04-15 17:55] dahlbyk commented on #517
Not sure how this slipped past us, but I agree: https://github.com/huboard/huboard/issues/648 :wink:

We already have a lot of filter options, but we might be able to add one to help with this. Or we could just always hide closed issues from Milestones, since it's really more of a planning view anyway?

[2016-04-15 17:57] dahlbyk commented on #537
Similar to #512

[2016-04-15 18:12] dahlbyk commented on #572
Similar to https://github.com/huboard/huboard/issues/549

@discorick thoughts on making Link <=> usrer/parentboard a no-op but allowing it to specify the card color?

[2016-04-15 18:15] dahlbyk commented on #594
Is this the same as https://github.com/huboard/huboard/issues/545?

[2016-04-15 18:21] patdolem commented on #594
Yes it is the same. #545 can be closed as a duplicate.

[2016-04-15 18:22] dahlbyk commented on #598
I'm going to go ahead and close this - I have never seen a PR-closed issue not move as expected. See https://github.com/huboard/huboard-web/pull/255#issuecomment-209232688 for an example that also shows the closing PR move based on new support for PR events.

[2016-04-15 18:22] #598 closed

[2016-04-15 18:26] dahlbyk commented on #599
As of https://github.com/huboard/huboard-web/pull/249, we now prevent copying HuBoard labels unless the target board has no HuBoard labels. We may revisit and create a more comprehensive column manager, but for now I believe we adequately guard against the issue you ran into. Sorry, again, for the data loss. :frowning:

[2016-04-15 18:26] #599 closed

[2016-04-15 18:27] FinalAngel commented on #362
thanks for the feedback @dahlbyk – thats alright with me :)

[2016-04-15 19:20] dahlbyk opened #650 "RFC: Replace Milestone Breadcrumb?"
I've been pondering replacing the column breadcrumb shown on each Milestones card with vertical partitions in the column instead. The farther right on the Tasks board, the higher it would appear in Milestones.

This is just a Chrome Dev Tools mock-up, but I thought I'd throw it out to get others' thoughts:
![2016-04-15_14-11-39](https://cloud.githubusercontent.com/assets/133987/14572352/05bd9d32-0

[2016-04-15 19:53] #594 closed

[2016-04-15 21:54] patdolem commented on #650
@dahlbyk For us, the breadcrumb shows the logical workflow of being done. If a card is moved from left to right in the task board, it should be the lowest priority by default. The last in, the lowest priority.
If a card is moved from the right to the left, is not so clear in term of priority.
Now, I see another criteria that needs to be consider: is when a card is already assigned to a team member

[2016-04-15 22:04] #647 closed

[2016-04-15 22:43] dahlbyk commented on #650
I think it's reasonable to assume if it was high enough priority to move to the right that it's still pretty high priority if it moves to the left, unless explicitly reprioritized.

Personally, I'd rather not conflate "assigned to" with any notion of priority or in-progress-ness. I might assign someone to fill in details while an issue is fresh, even if it won't be actively worked on beyond that.

[2016-04-16 20:04] drusellers commented on #650
I like the proposal because it cuts down on visual noise with the `breadcrumb` being repeated on each card. As a tool that people live and breath in every day, they typically won't need that kind of feedback.

I dislike that the consistency between columns can make a first look a bit confusing. Why is there no "In Review" for Polish? After I moment I grok it, so it would probably be 👌 that its thi

[2016-04-16 20:15] crertel commented on #436
Grarcias.

[2016-04-18 07:04] dahlbyk commented on #650
The inconsistency, you mean? To your out-of-scope point, some visual design should make it more obvious what's important/different between the columns. Or we could collapse all Task column subheads (with count?) in all milestones for visual consistency. My initial reaction is that this just introduces more noise (esp with more Milestones and/or more Task columns).

[2016-04-18 17:09] ssriera commented on #650
@dahlbyk I like the idea of removing the breadcrumbs because it removes a lot of noise from the page, it looks less busy. I'd ask a designer if they have any ideas. I think partitioning is a good way to go however I would repeat the headers even if it contains no cards, I would probably mute it out (add some opacity) to convey it's there but nothing is inside. Else I'm having to remember the order

[2016-04-20 22:50] dahlbyk commented on #645
@bs85 we may have discovered this same issue ourselves and not realized it: https://github.com/huboard/huboard/issues/647. Try updating to `master` that would include https://github.com/huboard/huboard-web/pull/271?

[2016-04-20 22:56] discorick commented on #645
@bs85, I think @dahlbyk is right - I missed referencing this issue to the Pull Request

[2016-04-20 23:00] rauhryan commented on #645
Actually I think his issue was fixed here https://github.com/huboard/huboard-web/pull/268/files#diff-5bb7f4bc8d062dea46291a11be6e7811R9

It's not well documented but you can configure HuBoard to self host Faye as a middleware in the Rails application and get the real time sockets to work in your deployment.

## Prerequisites

  * You will need to have a redis instance available. If you are hosting

[2016-04-20 23:02] discorick commented on #645
@rauhryan its the close issue bug

[2016-04-21 12:07] bs85 commented on #645
Thank you for the details!

I hadn't had the time to investigate, I'll try to update and add redis ASAP

[2016-04-21 13:32] bs85 commented on #645
Everything works with the latest release and the faye config! cheers guys

[2016-04-21 13:32] #645 closed

[2016-04-21 13:35] azappella commented on #645
FYI, the latest release that we deployed refers to https://github.com/huboard/huboard/commit/ea313dc05dc49f7a0dbf5bde77bf681bd5783345

[2016-04-25 19:19] discorick commented on #640
Just noticed this today on Windows 10:

IE 11.212

![uploads/0c575b19-4eb6-4d79-aca0-6aa3da6a1113/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F0c575b19-4eb6-4d79-aca0-6aa3da6a1113%2Fblob)

[2016-04-26 19:50] discorick opened #652 "Communicate GitHub Private Repo delinquency"
#### Description:

Users should be able to be notified if their User/Org is delinquent on GitHub

#### Steps to reproduce (if applicable):

Visiting a private repository when you have have lost access to your GitHub private repos throws a 404, we should be able to provide some sort of feedback to help them resolve the problem.

#### Helpful external resources (blog, docs, etc.):

I was unable to f

[2016-04-26 21:46] discorick commented on #608
I think I found the cause of the double publish bug, this line right here https://github.com/huboard/huboard-web/blob/master/app/jobs/issue_event_job.rb#L30 can return nil on GitHub webhooks, which will cache a key for both the GitHub event and the HuBoard event.

[2016-04-26 22:48] patdolem opened #653 "Linking repo - The app freeze after hitting Create Link"
#### Description: When creating a new link repo the app freeze and we have to wait until it send a message asking if you want to Wait or Kill. When selecting Wait, nothing happen and we have to close the tab. When hitting Kill, we have anyway to re-open the app. The good point is that the repo is linked.

#### Steps to reproduce (if applicable): Go to Links add a new repo you want to link and hit

[2016-04-26 22:56] discorick commented on #653
Thanks for the report @patdolem, do you know which version on HB:E you are currently running ?

[2016-04-26 23:01] patdolem commented on #653
@discorick I think it's HB:E 1.6.125 Release

[2016-04-26 23:05] discorick commented on #653
As a stopgap, we have instructions here: https://github.com/huboard/huboard/wiki/Customizing-your-HuBoard#-how-to-link-repositories-together on how to link repositories using just labels. I'll look into this with @rauhryan !

[2016-04-26 23:13] patdolem commented on #653
Thanks for the work around.

[2016-04-27 16:18] dahlbyk commented on #640
@discorick you might check on why it's using Compatibility Mode?

[2016-04-27 21:14] discorick commented on #653
@patdolem , would I be able to get the user/repo name of the repository you were trying to link? Thanks!

[2016-04-27 21:17] rauhryan commented on #653
the version of GitHub:Enterprise would be helpful as well.

[2016-04-27 22:51] patdolem commented on #653
@discorick I can give you the name of the user/repo but you won't be able to access it as it's behind our firewall. This is also happening for any repo I want to link.
@rauhryan HB:E 1.6.125 Release

[2016-04-28 12:46] TheEadie commented on #542
Thanks for looking at this @discorick. Certainly for my use case having this feature and an alert if you are running low on API requests would do the job nicely. I can understand how if someone was new to the tool and didn't understand the underlying API request restrictions this could be confusing. Perhaps a warning on the UI when you're running low on requests, then disabling this and other bulk

[2016-04-28 14:41] dahlbyk commented on #542
:+1:

As a first step, I'd like to start capturing some telemetry on how much of users' rate limits we're actually using. Exhausting 5000 req/hr is a steady 83 req/min.

[2016-04-28 14:53] dahlbyk commented on #653
Interesting... I'm not able to reproduce this on huboard.com for linking to boards without columns, with matching columns, or with incompatible columns. We might need to set up a screen sharing session to take a closer look.

Do you see this behavior in all browsers?

[2016-04-28 17:57] patdolem commented on #653
@dahlbyk I tried to check it with with IE but the app is not working (blank screen). I'm getting this issue with Chrome.
I’m available today from 1:00 to 1:30 PST. Please send me an invite with a Skype for Business link or other.

[2016-04-28 18:37] discorick opened #654 ""Mark as closed" Inconsistent behaviour"
#### Description:

When marking an Issue or PR as closed from within HuBoard, the client from which the event is initiated throws the issue data into a strange state.

#### Steps to reproduce (if applicable):

- Open two browser windows to the same repo
- Open an Issue or PR
- Ensure that Issue or PR has some order
- Mark as closed in one window from the issue fullscreen
- Observe the issue moves

[2016-04-28 18:43] Ermesx commented on #276
👍

[2016-04-28 18:56] lasercar commented on #276
👍

[2016-04-28 22:17] rauhryan opened #655 "Make HuBoard easier to deploy on Heroku ala Deploy to Heroku button"
#### Description:

There are a ton of friction points in the application that make it:

A.) Hard to develop on in production
B.) Hard to deploy in host it yourself mode.

The Saas engine started out as a goodwill intention to keep the paywall crap out of the OSS version, but it has leaked into the main codebase WAY too much

Opening this in favor of #274

_contact_ support@huboard.com _for persona

[2016-04-28 22:20] dahlbyk commented on #655
This does not seem related?

[2016-04-29 05:21] kylemiller commented on #633
+1 for filter by Blocked

[2016-04-29 17:15] dahlbyk commented on #633
Related: https://github.com/huboard/huboard/issues/399 https://github.com/huboard/huboard/issues/611

[2016-04-29 18:13] dahlbyk commented on #608
It doesn't look like this changed in huboard/huboard-web#255: https://github.com/huboard/huboard-web/blob/d65842ff43a489b750b53673b6964156a979b4f6/app/jobs/issue_event_job.rb#L44

Was the fix something else?

[2016-04-29 18:18] rauhryan commented on #608
The assumption was wrong, that class method is only called from a subclass, the lambda gets called not the class method to get the value

Sent from my iPhone

[2016-04-29 21:21] dahlbyk commented on #608
Was ff2e7809cbda8fbabdc673ff714fc1b9db192525 the actual fix? Or 35ad8b369e51d482dd317beee11101013029ff6d? Or do both contribute? Just trying to understand why we think this issue is closed. :grinning:

[2016-04-29 23:53] rauhryan commented on #608
It's a combination of setting time stamps, making the key gen overridable, and delaying the execution of the job.

It should be pretty much solved for the most part now

Sent from my iPhone

[2016-05-03 19:00] gbrowne opened #656 "Improve Format for Markdown Tables"
#### Description:
Using GitHub's markdown for tables is not rendered very nicely on HuBoard (it appears all jumbled).

I see that you are Bootstrap - if you add the classes `table`, `table-striped`, and `table-bordered` to the `<table>` tag that you convert the markdown to, it will render much better.  Such that:
[code]

#### Steps to reproduce:
1. Type the following table markdown into HuBoard's

[2016-05-03 19:06] rauhryan commented on #656
Thanks for the feedback @gbrowne

We'll keep you updated. Looks like a quick hitter tho.

We actually manually whip out all the bootstrap styles for our issue comments.

It should be pretty easy to add a default table styling tho.

What's cool about the GitHub API is they give us sanitized and safe to html to render, so we default down to that when we render descriptions and comments.

We would pr

[2016-05-03 20:43] dahlbyk commented on #656
For the record, this is an awesome bug report @gbrowne. Kudos!

[2016-05-05 20:15] discorick commented on #214
Board syncing has been greatly improved, along with the addition of loss of focus (minimize, sleep mode etc.) recovery. Closing.

[2016-05-05 20:15] #214 closed

[2016-05-05 20:20] discorick opened #657 "Troublesome Settings UX affects returning to the board"
#### Description:

As pointed out by @dahlbyk in https://github.com/huboard/huboard-web/pull/284, our settings page has some troublesome UX in the forms of:

Both of these issues can make it more difficult than it needs to be to return to the task board.

#### Steps to reproduce:

When search for a way back to the task view, or milestones, clicking the repo breadcrumb link actually causes a full r

[2016-05-06 20:49] seanlinsley opened #658 "Ticket refuses to be assigned"
In Github it'll show someone as having been assigned, with Huboard missing that information despite refreshing.

When attempting to assign someone via Huboard, they're immediately unassigned:

![x30terckf8](https://cloud.githubusercontent.com/assets/688886/15085795/f7475c0e-13a1-11e6-82d7-c33b22a6ca59.gif)

[2016-05-06 20:54] discorick commented on #658
Thanks for the bug report! I just tested it out, looks on repeat "assignments" the list starts loosing its mind.

[2016-05-06 22:13] rauhryan commented on #658
It's definitely related to webhook events.

So when you change the assignee, it fires an `assigned` && `unassigned` event if you change from one person to another.

If you unassign something completely:

`drusellers` => nothing

1 event fires
unassigned event payload:

`payload.issue.assignee == null`
`payload.assignee == 'drusellers'`

If you switch assignees

`drusellers` => `rauhryan`

2 events

[2016-05-06 22:14] rauhryan commented on #658
As I've been debugging this, I've noticed inconsistent behavior with the GitHub API and their webhook payloads.

As I'm typing it, I was about to take these notes and file an issue with @github and I think they have fixed the issue before I could even email them

[2016-05-06 22:18] rauhryan commented on #658
It's 100% an issue with inconsistent behavior from GitHub, I'll we what I can do to mitigate it, but it's a GitHub bug

[2016-05-06 22:51] rauhryan commented on #658
I created a gist with my detailed findings and will submit a ticket to the @github support team.

https://gist.github.com/rauhryan/6d0f0d1c7f30dd41111c5c77a29dd8ce

[2016-05-09 20:08] discorick commented on #542
So basically what we need first is:

- An API endpoint that returns the remaining available API calls and duration until reset
- A client poller that flashes a sticky warning toast when the quantity of available API calls becomes dangerously low

[2016-05-10 12:52] benjamincharity commented on #639
I would definitely lend a hand building a huboard slack bot 👍

[2016-05-10 13:04] benjamincharity opened #659 "Huboard specific labels do not have historical tracking"
#### Description:

One of the major benefits of Github issues (imo) is the historical timeline. eg `ohill133 added the 2 - Needs Discussion label 17 hours ago`. Because the Huboard `Mark as blocked` is so available, it's hard for my team members to not use it. But if they _do_ use and remove it there is no way to know the label ever existed. When was it unblocked? Who unblocked it?

#### Steps to

[2016-05-10 14:00] rauhryan commented on #659
Hey @benjamincharity,

There is a related open issue #399

We ran into some concerns about using a blocked label as the source of truth for the blocked status.

Now that we've shipped a better syncing mechanism we should be able to revisit this issue.

We have some bigger engineering efforts in flight right now, I've added this to the our polish list so we'll try to sneak it in soon.

[2016-05-10 14:11] benjamincharity commented on #659
Ahh I knew there was one out there! I will move my original post here to a comment there and close this out as a duplicate.

[2016-05-10 14:13] benjamincharity commented on #399
(moving comment here from duplicate issue)

One of the major benefits of Github issues (imo) is the historical timeline. eg `user_1 added the 2 - Needs Discussion label 17 hours ago`. Because the Huboard `Mark as blocked` option is so available, it's hard for my team members to not use it. But if they _do_ use and remove it there is no way to know the label ever existed. When was it unblocked? Who

[2016-05-10 14:13] benjamincharity commented on #659
Closing as duplicate of https://github.com/huboard/huboard/issues/399

[2016-05-10 14:14] #659 closed

[2016-05-10 14:14] rauhryan commented on #659
Thanks!

[2016-05-10 21:05] #624 closed

[2016-05-11 16:31] dahlbyk commented on #655
Relevant:

* https://devcenter.heroku.com/articles/heroku-button
* https://elements.heroku.com/buttons/cobyism/huboard-on-heroku
* https://github.com/huboard/huboard/compare/97a690d0e9539abacf616306a6a527b22a478b61...9ad11ed2c7820541a3a32d4830ee68fafdbd9d78 from #500
* https://github.com/cobyism/huboard-on-heroku/compare/49d25a7402a92a08eef564e076eb29a9a9c85eae...master
* https://devcenter.heroku.

[2016-05-12 15:56] seanlinsley commented on #639
This would also be useful if it could be run retroactively, so we could see e.g. what tickets were added to a sprint in the middle of the sprint itself.

[2016-05-12 16:02] benjamincharity commented on #639
If I had a nickel for every time a ticket magically appeared in my current sprint... :shakes fist:

[2016-05-12 16:52] dealingwith commented on #639
I feel an opportunity for Huboard to sell a Sprint Protection™ Plan here.

FWIW, I had on my list to add a "take board snapshot" ~~hack~~ feature of some sort. Not as specifically helpful as the feature described here but could get the job done in the short term.

[2016-05-12 19:14] drusellers commented on #639
HAHAHAHA - that made my day 👍

[2016-05-12 19:20] drusellers commented on #639
So, we would need to capture board state (or is it repo?) at a given time - called `T`. Then we would need to make another call later at `T'`. We could then do a diff of the data structure. Then it would be a matter of interpreting forwards / backwards / etc for each card and giving you a report. Assuming you want it for a 24 hour period, where do we store the `setting` ?

[2016-05-12 19:28] seanlinsley commented on #639
I think that the GitHub API provides change history for labels, so it wouldn't require storing a ton of data on Huboard's side.

[2016-05-12 19:32] dahlbyk commented on #639
My first thought re: "take baord snapshot" was [Datomic](http://www.datomic.com/) - check it out if you've never heard of it. Not sure if there's any reasonable way for us to make use of it, but it's cool nonetheless.

So I'm really seeing two distinct ideas here:

### 1. Visualization of Recent Activity

Some sort of visualization to answer questions like:

* What did I do yesterday?
* What do I

[2016-05-12 19:59] seanlinsley commented on #639
Yep, there are the `labeled` and `unlabeled` events listed here: https://developer.github.com/v3/issues/events/

[2016-05-12 20:06] dahlbyk commented on #639
:+1: The challenge with Events is that we can only go back so far:

That said, Events are read-only so building a caching layer to save off every event we see is totally doable. If only we could replay events farther back. :disappointed:

[2016-05-12 22:28] #658 closed

[2016-05-12 23:21] dahlbyk commented on #325
https://developer.github.com/changes/2016-05-12-reactions-api-preview/

[2016-05-13 17:29] discorick opened #661 "Card Redesign API Prep"
In Preperation for upcoming Card Redesigns, we require the following client-side API's:

- [ ] Issue comment counts (likely this is already a property on the model, just need to confirm)
- [ ] Issue comment reactions (lets start with just the issue body reactions)
- [ ] Issue task completion (x/x tasks completed)
- [ ] PR state (merged or no)

[2016-05-16 01:54] donhui commented on #276
:+1:

[2016-05-16 02:45] haleykoike commented on #608
Has this issue been fixed? We're still consistently seeing duplicated Slack messages when an issue is created. Other Huboard messages don't appear to be duplicated, only issue created ones.

[2016-05-16 14:15] dahlbyk commented on #608
We thought so, but apparently not. Thanks for letting us know!

We're not able to reproduce with our own Slack notifications, so I'm hoping you can help us narrow in on the potential causes... Do you get duplicates for both issues and PRs? For issues created from HuBoard and from GitHub?

[2016-05-16 14:29] dahlbyk commented on #608
It might also help if you add a http://requestb.in/ as a Webhook so we can see if that is also double-publishing. If you don't wish to share here, please send us the link at support@huboard.com, or use the Intercom chat bubble.

[2016-05-16 19:13] seanlinsley commented on #608
We're also still seeing duplicates. Scrolling through the chat history, it looks like it's specifically caused by assigning someone and moving that ticket in quick succession.

<img width="520" alt="screen shot 2016-05-16 at 2 07 10 pm" src="https://cloud.githubusercontent.com/assets/688886/15300806/36dd6298-1b70-11e6-9f7c-ade3e8cdd7f2.png">

--------------

<img width="513" alt="screen shot 2016-

[2016-05-16 20:00] dahlbyk commented on #608
Are those assignee double-pubs new since Friday? We deployed https://github.com/huboard/huboard-web/pull/297 to fix https://github.com/huboard/huboard/issues/658.

[2016-05-16 23:13] seanlinsley commented on #608
This one was on Thursday:

<img width="478" alt="screen shot 2016-05-16 at 6 10 47 pm" src="https://cloud.githubusercontent.com/assets/688886/15306597/ac0cdd20-1b91-11e6-9368-1b0a5449dae2.png">

It also appears that the duplicate notification can happen for issue creation, though that seems to happen less often. Perhaps it's specifically issues created inside Huboard?

<img width="439" alt="screen

[2016-05-17 00:17] haleykoike commented on #608
@dahlbyk just shared the RequestBin link on Intercom. I added A Github issue on HuBoard and it does look to to double publishing webhooks a few seconds apart.

[2016-05-17 01:32] dahlbyk commented on #608
@seanlinsley please let us know if duplicate assignment notifications return. We're pretty sure this was a subtle change in the GitHub API response.

Thanks! The two webhook payloads do have subtle differences. It's not immediately obvious to me what the problem is, but @rauhryan or @discorick might see something that sticks out.

[code]

[2016-05-17 02:11] dahlbyk opened #662 "Strip comments from Slack/HipChat message"
This looks silly:

![uploads/63d56d5b-229d-4f1d-bee3-733e76669cbb/slack_2016-05-16_21-08-22.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F63d56d5b-229d-4f1d-bee3-733e76669cbb%2Fslack_2016-05-16_21-08-22.png)

[2016-05-17 02:27] dahlbyk commented on #608
I am now able to reproduce this on one of our test repos _almost_ all the time:
<img width="353" alt="slack_2016-05-16_21-24-42" src="https://cloud.githubusercontent.com/assets/133987/15309445/af62c582-1bac-11e6-8be0-6fe70cd70e38.png">

Diff is essentially identical:

[code]

[2016-05-17 03:07] dahlbyk commented on #608
This does appear to be specific to issues created from HuBoard. My best guess is that it's related to https://github.com/huboard/huboard-web/pull/286, which was deployed on May 6, but I'm not able to find any duplicates before May 13.

@seanlinsley, @haleykoike, or anyone who wants to help: are you able to trace back when the new issue duplicates first appeared?

[2016-05-17 03:17] haleykoike commented on #608
@dahlbyk Looking through my Slack history, the first occurrence we had of a duplicated Slack message on issue creation was May 5, 18:41 UTC. The issue created prior to that on May 2, 11:01 UTC and before did not have duplicate Slack messages.

[2016-05-17 22:55] patdolem opened #663 "Drag and drop a file doesn't work"
#### Description: _Drag and drop a file (i.e. Excel) from a local folder doesn't work._

#### Steps to reproduce (if applicable): _1) Open a card 2) Select a file in a local folder 3) Drag and drop it in the comment of the open card_

#### Helpful external resources (blog, docs, etc.):

#### Notes: _it is possible to do it directly in GitHUb and the file is visible in Huboard._

_contact_ support@

[2016-05-18 02:44] discorick commented on #663
Thanks for letting us know @patdolem, ill take a look!

[2016-05-18 16:16] rauhryan opened #664 "Add the ability to invite teammates from the application"
#### Description:

Customers would like the ability to invite collaborators to join their boards from the UI.

#### Steps to reproduce (if applicable):

N/A

#### Helpful external resources (blog, docs, etc.):

N/A

#### Notes:

Collecting email addresses could get difficult because we need permission for that, we'll probably have to ask for the email addresses.

_contact_ support@huboard.com _for

[2016-05-19 09:04] chapati23 commented on #520
still not working. tbh this is a _very_ big blocker for using huboard as a real backlog- and sprint-tool for us. PO can't upload images and has to very awkwardly upload them somewhere else and then put links into the ticket description

[2016-05-19 14:46] dahlbyk commented on #520
Can you please confirm that image upload is actually enabled? The comment box would have a footer that also allows manual upload:
<img width="415" alt="firefox_2016-05-19_09-30-43" src="https://cloud.githubusercontent.com/assets/133987/15397101/798c3732-1da4-11e6-993f-53e846439b53.png">

In @patdolem's screenshot above, that footer is missing, so it doesn't look like upload is enabled. Assuming th

[2016-05-19 15:46] patdolem commented on #520
@dahlbyk I just checked and the comment box doesn't have the footer you mention.

[2016-05-19 16:18] chapati23 commented on #520
@dahlbyk thanks for the quick reply.

where would i enable image upload? don't see it in my settings. probably need to be an admin?

[2016-05-19 16:35] rauhryan commented on #520
@patdolem @chapati23

Currently we disable image upload in Enterprise because there isn't an API to store assets in GitHub Enterprise *yet*

We've kicked around a few ideas on how to best enable it, but there are trade-offs with the approaches

 1. We can possibly store the image in a gist, we haven't tried doing this yet, but it's possible that we could create a gist with just the image and then

[2016-05-19 22:17] patdolem commented on #520
@rauhryan Thanks for this information. Just to clarify, is that meaning another trade-off will be to not have the image viewable on the issue in GitHub? If this is the case, we prefer to wait until GitHub Enterprise provide the api.

[2016-05-20 08:12] dahlbyk commented on #520
Images being viewable from GitHub would be a requirement for any solution we would consider shipping. In the three scenarios listed above, embedded links would look something like:

1. `https://github.corp/gist/{user}/5350320500d7a22eb6f2fa36c4b0c7bf/my-image.jpg`, visible to anyone authenticated to `github.corp`
2. `https://huboard.corp/uploads/5350320500d7a22eb6f2fa36c4b0c7bf/my-image.jpg`, visi

[2016-05-20 18:05] dahlbyk commented on #650
@rauhryan came up with another option while working on huboard/huboard-web#280:
![rauhryan_skipping_stones_repo_huboard](https://cloud.githubusercontent.com/assets/133987/15437166/2e44cacc-1e8b-11e6-89d9-4d993d2110f3.png)

I'm still intrigued by the vertical partition idea to more clearly communicate priority for stuff that has moved out of the backlog, but in the meantime this seems like a better

[2016-05-20 22:05] #608 closed

[2016-05-22 10:36] mderazon opened #665 "make external links open in new tab instead of current tab"
#### Description:
**Please** make all external links openin a new tab. It's almost surprising that when you click on a GH link in Huboard it navigates out of Huboard and into Github. I can't tell you how many times this has happened to us. You write a bunch of stuff inside Huboard issue, click on a link in that issue and page navigates away and everything you wrote down just goes away.
Given that

[2016-05-24 21:22] discorick opened #666 "Implement Card Relationships"
#### Description:

One of the exciting new features of our new cards will be the ability express their relationships to other cards. Initial implementation of relationships will tackle Issue References only.

- [ ] Complete https://github.com/huboard/huboard-web/pull/301
- [ ] Create a parser capable of building a parse tree for card relationships  (https://github.com/huboard/huboard-web/pull/302)

[2016-05-25 14:31] dahlbyk commented on #608
The more holistic fix in https://github.com/huboard/huboard-web/issues/304 was deployed last night. Please let us know if you're still seeing any duplicates!

[2016-05-26 04:08] dahlbyk opened #668 "Add new events to full-screen issue from Timeline API"
Issue/PR details in HuBoard are currently missing some information that is available through GitHub, including:

- Deployments
- Issue Cross-Reference
- PR Commits
- PR Merge Details

The new Timeline API seems meant to expose just about everything we should need, but sometimes misses the mark. I'm hoping we can dig in and give specific feedback now to make our lives easier.

---------------------

[2016-05-26 04:10] dahlbyk commented on #668
And the first issue I tried on the new API caused a 500 Server Error: https://api.github.com/repos/huboard/huboard-web/issues/298/timeline

[2016-05-26 16:03] dosire commented on #276
There has not been much activity on this bounty for months.

As GitLab Inc. we'll focus instead on https://gitlab.com/gitlab-org/gitlab-ce/issues/17907

Having https://gitlab.com/gitlab-org/gitlab-ce/issues/17907 means we'll probably not ship Huboard with GitLab.

This also means that @stanhu from GitLab Inc. will not be working on this issue nor can we spend a lot of time reviewing it.

I therefo

[2016-05-27 08:29] DanielCaldwell opened #669 "Closed issues don't show in UI in deployed state"
#### Description:
Today, I noticed some odd behavior that hasn't happened before. I had an issue, which I solved and deployed, so it was moved it to the deployed list and closed it. Before, after closing, there would be a button to archive it, but it would stay in the deployed queue until it was archived.

This is good for us for two reasons. First, we need it closed so the burndown chart we use w

[2016-05-27 10:12] dahlbyk commented on #669
Interesting... I'm not able to reproduce this behavior on one of our test boards. If you edit the issue in question, does the `@huboard` comment show `"custom_state":"archived"`?

![669-repro](https://cloud.githubusercontent.com/assets/133987/15605050/1cf00c26-23c9-11e6-8d2a-9712392dd9a8.gif)

[2016-05-27 17:02] DanielCaldwell commented on #669
I looked on github. it doesn't say archived, it says blank. Here's the info from that issue I was doing.

[code]

[2016-05-27 17:03] DanielCaldwell commented on #669
On a side note, that video thing's pretty cool, how did you create that?

[2016-05-27 17:44] dahlbyk commented on #669
Odd. All closed issues should stay in the last column for two weeks (unless archived).

Did this behavior start recently?

If you reach out through the Intercom chat bubble, maybe someone can screen share with you to see what we can figure out?

I use http://www.cockos.com/licecap/ for screen recording on Windows.

[2016-05-27 18:43] dahlbyk commented on #612
GitHub just added [multiple assignees](https://github.com/blog/2178-multiple-assignees-on-issues-and-pull-requests) with
[API support (preview)](https://developer.github.com/v3/issues/assignees/#add-assignees-to-an-issue)!

[2016-05-27 20:10] dahlbyk commented on #612
For the record, we are aware that assigning from HuBoard will overwrite all other assignees with the new selection. We'll try to get to this soon to avoid data loss!

[2016-05-28 14:16] seanlinsley commented on #669
That's tangential to this ticket, but could this be made more explicit / configurable? Our team does two week sprints, and if we switched to three week sprints I wouldn't want tickets from the beginning of the sprint mysteriously disappearing off of the board.

[2016-05-31 06:37] dahlbyk commented on #669
https://github.com/huboard/huboard/issues/580 is open to make the issue-close window configurable.

[2016-05-31 18:08] dahlbyk commented on #452
Our work on this is nearly complete: https://github.com/huboard/huboard-web/pull/280

We'd love some feedback, if anyone can spare some time to kick the tires on our review app: https://huboard-rails-pr-280.herokuapp.com/

[2016-06-01 01:37] discorick commented on #586
Confirmed that this is closed by huboard/huboard-web#280

[2016-06-01 14:38] patcon commented on #530
Thanks! @discorick care to link to those docs for the next person who finds this from the googles?

[2016-06-01 23:05] discorick commented on #452
Hi @patdolem , if you have a few moments https://huboard-rails-pr-280.herokuapp.com/ is about to be shipped - would love any feedback you might have before it makes its way to an enterprise release, Thanks!

[2016-06-01 23:07] discorick commented on #530
@patcon You bet... awkwardly enough we have no docs for filters at the moment, we will get right on that and I will make sure to follow up and post them on this thread. Thanks!

[2016-06-01 23:35] patdolem commented on #452
@discorick This is cool. It works well and will help a lot.

[2016-06-02 02:29] patcon commented on #530
Thanks @discorick! Any chance you can also explain it here for me so that I can make my link? ;)

[2016-06-02 15:41] discorick commented on #452
@patdolem Thanks for taking look! We plan to ship today on huboard.com

[2016-06-02 18:05] #452 closed, assigned to nobody

[2016-06-02 21:46] petey-rock opened #670 "Safari scrolling column unexpected behavior"
#### Description:
When using the scrolling column feature in the Safari browser, cards are overlapping and blocking out other cards while dragging a card.
#### Steps to reproduce (if applicable):
Open Safari and go to HuBoard, switch to MileStones view and try dragging a card.
#### Helpful external resources (blog, docs, etc.):

#### Notes:

_contact_ support@huboard.com _for personal support on c

[2016-06-02 22:18] rauhryan commented on #670
Sure enough!

Dang it, I checked every single browser except safari.

There is some weird stuff going on in safari!

[2016-06-02 23:19] discorick commented on #530
@patcon Of course! As you select filters in HuBoard you will notice the url bar change like so:

![image](https://cloud.githubusercontent.com/assets/1130665/15764146/ee63d672-28e5-11e6-8ab3-0322ecd4c254.png)

Simply copy that url and share, the board should load with the selected filter options automatically enabled!

Note: There is a regression I will be working on tomorrow that can make this fea

[2016-06-03 04:45] patcon commented on #530
Ah, I may have hit another bug. Explained it in an email, but to quickly recap -- Milestones seem to need to be clicked twice before they're filtered completely (rather than visually muted after the first click). The url doesn't change until the second click. This wasn't obvious to me for the past few months that I've been using HuBoard :)

[2016-06-03 15:27] #670 closed

[2016-06-03 17:11] discorick opened #671 "Creating new issues can create a zero order"
#### Description:

Zero orders on issues create unpredictable card placement, though they eventually fix themselves when moved, this is a disruptive experience.

#### Steps to reproduce (if applicable):

Have an issue with a zero order at the top of the backlog, then create a new one. The new issue will have a zero order.

[2016-06-03 21:01] petey-rock opened #672 "Multiple assignee on issue"
#### Description:
With the addition of GitHub supporting multiple assignees, cards should lists all issues someone is assigned to even though another person is assigned to the issue.

#### Notes:
hello@petrisandstrom.com-

Related to #612

[2016-06-03 21:06] dahlbyk commented on #672
@petey-rock do you want to keep this around or can we close as duplicate of #612 and add a note that we need to make sure filters work as expected?

[2016-06-06 20:26] discorick commented on #530
This is actually intentional behavior. Since HuBoard has two state filters (first click is dim, second is completely hidden) we decided against filtering on Dims. I suppose it can be a little bit unexpected, especially given the lack of prior docs.

An elaboration on this is any filters within the same group, lets say milestones, cannot mix and match the dim feature. So if a milestone is fully (tw

[2016-06-06 21:21] patcon commented on #530
Thanks figured as much. If you're open to suggestions, I would suggest hiding first, then dim on second (removing filter if you feel that's correct), since that first click should get the filter imho (for max discoverability without consulting docs and pestering you guys). I can't be the only person who simply never discovered that due to it not being the first click :)

[2016-06-06 23:06] dahlbyk opened #673 "RFC: "Simple" workflow without labels"
I suspect that one of our barriers to entry is that hitting a board for the first time requires creating the HuBoard board labels before you can actually see your project in HuBoard. I propose defaulting to a "Simple" workflow with three columns:

1. Open
2. In Progress
3. Closed

The middle column would include open PRs and open issues referenced by those PRs' descriptions (perhaps qualified with

[2016-06-07 15:01] dahlbyk commented on #673
We could conceivably build in additional conventions based on common column label patterns, but that does quickly open the "How do I rename the columns?" can of worms. But there does seem likely to be value in letting users of competitors see some approximation of their board in HuBoard with little to no configuration.

[2016-06-07 20:13] patdolem commented on #452
@discorick It's not yet available on HE:! Do you know when it will be?

[2016-06-07 20:25] petey-rock commented on #672
@dahlbyk Yeah we can kill this one and make a note on #612

[2016-06-07 20:26] #672 closed

[2016-06-07 20:32] dahlbyk commented on #452
:soon: Keep an eye on https://github.com/huboard/huboard-web/pull/315!

[2016-06-09 13:20] rauhryan opened #674 "Implement some type of epic support; ala milestones or card relationships"
#### Description:

Question from support:

Still needs to be spec'd out, more of a possibility once we ship #666

#### Steps to reproduce (if applicable):

N/A

#### Helpful external resources (blog, docs, etc.):

[Epics in ZH](https://www.zenhub.com/blog/working-with-epics-in-github/)

#### Notes:

_contact_ support@huboard.com _for personal support on critical issues_

[2016-06-09 16:14] rauhryan opened #675 "Intelligent hover cards for comment bodys"
#### Description:

Scan comment bodies and descriptions for relevant GitHub links that HuBoard understands such (issues and PRs)

Wrap and highlight them colored by their state's (open, closed, merged, ready, blocked).

On hover display a pop-up card for quick access to extended context and information; ala a "hover card"

#### Helpful external resources (blog, docs, etc.):

PoC Mockup:

![hover c

[2016-06-09 18:47] rauhryan opened #676 "Digest emails of board activity (daily, weekly, etc)"
#### Description:

Outside stakeholders prefer email digests over real time status boards. I'd consider this a high value feature. Added to the long term roadmap

#### Notes:

From long time HuBoard user who is a development manager

_contact_ support@huboard.com _for personal support on critical issues_

[2016-06-10 16:45] rauhryan commented on #537
A wild mockup appears:
![desktop](https://cloud.githubusercontent.com/assets/68954/15971844/cee015e2-2f00-11e6-8848-f36d5052abcc.png)

[2016-06-10 18:20] rauhryan commented on #512
Closing: Duplicate of #537

[2016-06-10 18:20] #512 closed

[2016-06-10 18:24] rauhryan commented on #640
Fixed with huboard/huboard-web#280

[2016-06-10 18:24] #640 closed

[2016-06-13 15:46] seanlinsley opened #677 "Pull requests aren't synced until page refresh"
This all happened in our Slack room:

<img width="583" alt="screen shot 2016-06-13 at 10 32 05 am" src="https://cloud.githubusercontent.com/assets/688886/16013662/f0cd24d8-3153-11e6-9214-cccd071bda8c.png">

But the PR (it was a PR without a ticket) stayed in Review, and would only move over after performing a page refresh.

[2016-06-13 16:16] dahlbyk commented on #668
Reported the 500 to GitHub:

------

[2016-06-13 16:19] seanlinsley commented on #677
Is this a duplicate of #668?

[2016-06-13 16:44] dahlbyk commented on #677
This shouldn't depend on #668, no.

A naive test of this scenario with https://github.com/huboard-testing/spooky-octo-pug/pull/99 did successfully move the card into Done for me on merge. Anything else you can tell me about your environment/repo that might help us narrow in on the cause here?

[2016-06-13 17:40] seanlinsley commented on #677
It looks like it was moved before it was merged / closed. I don't know if it was moved via Huboard or by manually updating the label in Github. @thepug do you remember?

<img width="465" alt="screen shot 2016-06-13 at 12 38 19 pm" src="https://cloud.githubusercontent.com/assets/688886/16017053/c54cf3d2-3163-11e6-98ac-a82f5bbb4561.png">

[2016-06-13 17:42] thepug commented on #677
I moved the item in huboard

On Mon, Jun 13, 2016 at 1:40 PM, Sean Linsley <notifications@github.com>
wrote:

[2016-06-13 18:04] dahlbyk commented on #677
So to confirm, this is what were expecting to see "3 hours ago" on merge, but it didn't happen:
![pr-move](https://cloud.githubusercontent.com/assets/133987/16017823/3dd6b5ce-3167-11e6-8f96-c8f7e69c299a.gif)

But you did get the "PR closed" notification in Slack. Can you confirm that the settings Health Check shows that all three web hooks are configured?

[2016-06-13 18:11] petey-rock opened #678 "Move/mirror toasts to the HTML5 notification API"
#### Description:
Move/mirror toasts to the HTML5 notification API
#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:
"Hi Guys. Is there an easy way to tie all the huboard activity (i.e. this person moved an issue between columns, marked it as ready, commented, etc) into the HTML5 Notification API? I would really like to get the little pop no

[2016-06-14 16:56] seanlinsley commented on #678
We might want to make this configurable. E.g. I already get notifications from Slack when a Github event happens.

[2016-06-14 16:57] seanlinsley commented on #677
Yep, the health check passes.

[2016-06-15 14:11] dahlbyk commented on #677
I'm kind of at a loss here... This happens consistently for all your PR close/merge actions? We might need to share a screen or something to help troubleshoot, as I can't reproduce what you describe.

[2016-06-16 16:30] dahlbyk commented on #520
Another option that has been brought up in internal discussion would be to "hide" HuBoard uploads inside the corresponding repository using some Git magic. This idea is actually several months old, and seem like it would work really well for users with Write access. However, users without Write access present a problem. Two options:

1. Fork the repository and store uploads there. But what happens

[2016-06-16 17:03] seanlinsley commented on #677
I'd be happy to screenshare with you. I could also show you another issue I've noticed: immediately after commenting on a ticket, it's common for that ticket to disappear from Huboard.

[2016-06-17 09:30] chapati23 commented on #520
hmm, seems like a decent workaround to me. another advantage of having the assets inside your repo: it'd be easy to migrate once (or if…) GitHub enables uploading in their enterprise API. migration script of iterating over all assets and pushing them to GitHub Enterprise API wouldn't be too complicated, i guess.

[2016-06-17 15:55] patdolem commented on #520
This is the answer I've got from our GitHub Admin:
Least bad option would be “we could let you provide an access token for any user that would have global Write access”, but that doesn’t sound to appealing either.

[2016-06-17 16:46] rauhryan commented on #520
I looked into using Gists and it's a no go right now.

The HTTP API doesn't support binary files, so I'm going to look into the content API and see if I can get an image into a repo as a file.

TL;DR; Gists won't work without using the git protocol and for that we would need ssh keys

[2016-06-17 18:11] patdolem commented on #545
Be able to filter labels using NOT boolean operator is mark as closed but it doesn't seem available yet.
When is it scheduled to be in? What will be the UX?

[2016-06-17 18:51] dahlbyk commented on #520
Yeah, it would be somewhat tedious to iterate over all issues and comments in search of HuBoard-embedded links, but doable. Shouldn't really hurt anything to leave the content hidden in the Git repo, though, so maybe not worth the effort?

@patdolem for what it's worth, the code using such a token would be 100% open source for your review. We really don't want this level of access any more than yo

[2016-06-17 19:31] patdolem commented on #520
@dahlbyk Would such a solution allow to view the image in GitHub also?

[2016-06-20 18:06] dahlbyk commented on #545
https://github.com/huboard/huboard/issues/633 is more specifically about filtering by non-label states (Closed/Ready/Blocked). Presumably an inverse filter feature would work with those.

We have not specifically prioritized either of these issues, nor specifically explored their UX.

[2016-06-20 18:19] dahlbyk commented on #520
Yes. Any solution that doesn't allow viewing in both GitHub and HuBoard would seem to be a non-starter.

[2016-06-20 20:22] seanlinsley commented on #677
I've also seen ticket disappearance happen when modifying the ticket description.

And, mysteriously, two tickets today have disappeared while I was moving them to a different column. That is: after releasing my mouse, the ticket can no longer be found on the page.

[2016-06-20 22:24] discorick commented on #677
Uh oh, thats some really concerning behavior! Did the cards "reappear" in the destination column on refresh ?

[2016-06-20 22:32] seanlinsley commented on #677
IIRC, they had to be moved again.

It seems pretty likely that the recently-added resync feature (or changes around it) are causing these bugs.

[2016-06-21 04:20] dahlbyk commented on #520
FYI, this is in progress (https://github.com/huboard/huboard-web/issues/325) if anyone cares to follow along. The "Git magic" is working as expected, sufficiently hidden from normal users in GitHub and in clones.

[2016-06-21 17:07] discorick commented on #677
It _could_ be a combination of factors interacting with the resync.. are you using Firefox by any chance @seanlinsley ? I'm looking into some strange caching behavior on FF that can really throw HB into bad states even after a refresh.

[2016-06-21 17:26] seanlinsley commented on #677
@discorick yes I'm using Firefox.

[2016-06-21 21:33] discorick commented on #677
@dahlbyk asked me to post my request headers here, this is for the ajax call on board load:

[code]

[2016-06-22 12:11] dahlbyk commented on #677
Adding `no-cache` couldn't hurt, though most browsers interpret `max-age=0` equivalently.

[2016-06-22 17:04] discorick commented on #677
I just opened up https://github.com/huboard/huboard-web/pull/326 which I suspect will have a positive effect on these issues - Firefox sometimes uses cached ajax responses to hydrate the board data which makes the board interaction really unpredictable.

[2016-06-22 17:32] #671 closed

[2016-06-22 18:35] #612 closed

[2016-06-27 16:54] petey-rock opened #679 "Adds filter for "Cards with no Labels""
#### Description:Filters by cards with no labels

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:
https://app.intercom.io/a/apps/6pkpaw3m/inbox/pete@huboard.com/conversations/5167745747
cobb.evan@gmail.com

_contact_ support@huboard.com _for personal support on critical issues_

[2016-07-06 15:46] discorick opened #680 "'settings/health' overflow does not scroll in Firefox"
#### Description:
Given too many health checks (enough to overflow past the bottom of the viewport) in Firefox, the overflow health checks are impossible to reach.

#### Steps to reproduce (if applicable):
My frantic attempts to scroll down

![no scrolly](https://cloud.githubusercontent.com/assets/1130665/16624276/4d21308c-435e-11e6-88e1-ed89683068ee.gif)

[2016-07-06 15:47] dahlbyk commented on #680
What's your test repo for this?

[2016-07-06 15:53] discorick commented on #680
Any repo will do, just copy paste the divs over and over until they push down past visible. @yaronyg gave me the heads up on this one.

[2016-07-09 03:36] seanlinsley commented on #580
We've had effectively a month-long sprint b/c of vacations and unexpected interruptions, and this "feature" has hidden 50% of our tickets from this sprint.

If @dahlbyk hadn't mentioned this behavior in #669 I would've thought one of these:
- Huboard is broken
  - it "forgot" about the tickets
  - it sent a bad API request to Github that accidentally blew away some ticket statuses
- A team member

[2016-07-09 17:21] seanlinsley commented on #580
It appears that Huboard doesn't actually remove the label status, it just hides them from the UI.

<img width="624" alt="screen shot 2016-07-09 at 12 14 52 pm" src="https://cloud.githubusercontent.com/assets/688886/16709180/f6aa2362-45ce-11e6-8300-a58f1ecb6f18.png">

To add some context, roughly 5% of all closed tickets have been automatically hidden by a feature we didn't know about and didn't wa

[2016-07-10 07:26] mderazon commented on #580
I have to agree. After working with Huboard for quite some time, this uncertainty about whether what we see is all there is or not and constantly comparing the issues on Github with the ones on Huboard is one of the biggest points of friction with Huboard.

@rauhryan can you explain again the reason behind this ?

[2016-07-11 15:11] discorick commented on #580
@mderazon @seanlinsley, I agree we should look into this again. The thinking behind this behavior is at some point we need to cap how many closed issues we pull from the API, currently its an arbitrary 2 weeks.

A short term fix is we could raise the cap to some higher number like 4-6 weeks, ultimately in the future maybe making it a configurable option with a hard maximum.

[2016-07-11 15:27] seanlinsley commented on #580
Is the purpose to improve performance? I'm confused why all other tickets are loaded, but not closed tickets still on the board after a certain date.

[2016-07-11 15:54] dahlbyk commented on #580
Consider a board that's new to HuBoard: until every existing closed issue has been archived (each archive step requiring a rate-limited GitHub API call, it would appear in the Done column. Without [batch operations](https://github.com/huboard/huboard/issues/542), this seems a non-starter.

I assume the two week interval was based on Ryan's team's needs at the time, and hasn't changed since. I agre

[2016-07-11 16:17] seanlinsley commented on #580
It looks like the maximum page size is 100, which is already being set. Couldn't you only show the first 100 closed issues and skip the ones after that?

[2016-07-11 19:17] dahlbyk commented on #580
That's likely what we would use as a hard maximum. The balance we need to strike is new-to-HuBoard users seeing dozens of forgotten closed issues which need to be archived one at a time.

On balance, seeing more issues than you want, with a button to hide, is a better situation to be in than missing issues you need, with no recourse. We'll still probably make this configurable, but it seems reason

[2016-07-11 20:13] seanlinsley commented on #580
Does the Github API wrapper you're using handle pagination? If it doesn't, it looks like the existing code will only load 100 records anyway.

Another option would be to stop showing closed tickets in Done that don't have a status, or have the Backlog status. It causes some confusing webhook notifications for people that close tickets from the backlog from inside Huboard's UI. Specifically it send

[2016-07-11 22:44] seanlinsley commented on #580
I just checked: the issues API lets you filter by an array of labels.

[2016-07-12 15:38] discorick opened #681 "Automatically assign user"
#### Description:

A user requested that when using the "issue quick create" box, automatically assign the current user to the issue. I think this would be a great case for a configurable option. 

[2016-07-12 22:11] dahlbyk commented on #681
On one hand, I could see it being handy to be able to specify "default values" for new issues:

- Apply the Bug label to the next batch of bugs
- I don't want to switch to Milestones, but put these new issues in the next release
- Assign our QA people to these new bug reports for triage

On the other hand, I'm not particularly a fan of Quick Create in the first place - it encourages quantity over

[2016-07-12 22:23] patdolem commented on #618
I've got the same problem. I tried searching on a key: gdbFN-1741 and nothing is found. This key is part of an issue title: Add MAOP capability to the information model (gdbFN-1741)
The same thing in GitHub and it works.

[2016-07-14 15:53] discorick opened #682 "Closing milestones"
#### Description:

About time we had an issue open for closing (not deleting) milestones from the client. Closing a milestone in HuBoard is going to be a little tricky, things to consider:

 - Is the milestone linked? (I.E are there linked repositories with the same milestone?)
 - Are any linked milestones already closed or deleted ?
 - What do you do with the issues? With no bulk API any sweeping

[2016-07-14 15:54] discorick commented on #682
Talking to a user, they expressed interest in having all issues in a closed milestone be hidden (archived) from the board.

[2016-07-14 16:01] #626 closed

[2016-07-14 16:19] Silona commented on #682
I would agree. If it isn't done in a milestone. It should be moved to the
next milestone.

Thank you!

On Jul 14, 2016 08:54, "discorick" <notifications@github.com> wrote:

[2016-07-14 22:56] yaronyg opened #683 "Feature Request - Please let us filter on items with no assignee"

[2016-07-14 22:59] discorick commented on #683
Hi @yaronyg, such a filter already exists! See here:
![image](https://cloud.githubusercontent.com/assets/1130665/16858484/60bd6a52-49e4-11e6-8f64-854cc5490bc5.png)

[2016-07-14 23:02] yaronyg commented on #683
Arg! I was looking at the top because that is where the active members listing is and somehow didn't get my eyes far enough down. Sigh...

[2016-07-14 23:02] #683 closed

[2016-07-14 23:05] discorick commented on #683
Ha! No worries, easiest issue I have worked on this week ;) . Makes good online documentation anyways.

[2016-07-15 04:32] dahlbyk commented on #683
It's a good point, though, that under "Active members" is a reasonable place to expect the other assignment-based filters. We could move them up to a single line below the avatars: me | others | unassigned.

[2016-07-22 18:51] nickrosener commented on #230
👍

[2016-07-25 22:42] yaronyg commented on #607
I just sent a complaint about this to long abused Ricki today.

[2016-07-28 13:22] gbrowne opened #684 "Tasks Created from Milestone View Don't Use Issue Template"
#### Description:
If you click the `+` button under any milestone in the Huboard milestone view, the *New Issue* dialog does not pre-populate with the issue template text (from `ISSUE_TEMPLATE.md`) like it does when you create an issue from the task view.

#### Steps to reproduce (if applicable):
1. Click *Milestones* in the top right corner
2. Click a `+` button to create a new issue
3. Notice th

[2016-07-28 14:39] dahlbyk commented on #684
Well played.

Not sure how we didn't notice this - thanks!

[2016-07-28 15:41] #684 closed

[2016-08-01 22:20] vine77 commented on #588
This sounds like Overv.io's feature to "Automatically advance issues fixed by Pull Requests to: <choose label>" and is a highly desired feature for out team.

[2016-08-03 18:04] dahlbyk commented on #654
I can reproduce similar strange behavior by:
1. Open HuBoard to repo
2. Create issue from GitHub
3. Open that issue in HuBoard
4. Can't edit

[2016-08-03 20:07] discorick commented on #653
Can this be closed? I _think_ this issue was resolved, but ill wait on your confirmation @patdolem

[2016-08-03 20:09] discorick commented on #597
This will be available in our next enterprise release!

[2016-08-03 20:19] dahlbyk commented on #597
I feel like I'm missing something: https://huboard-rails-pr-327.herokuapp.com/huboard/huboard#/?label=%5B%22Enterprise%22%5D&milestone=%5B%22Chores%22%5D
<img width="799" alt="firefox_2016-08-03_15-18-24" src="https://cloud.githubusercontent.com/assets/133987/17380603/8a9c2ce2-598d-11e6-86f6-256865fbee3e.png">

Isn't this a request that the Active Members listed under Filters only show those assig

[2016-08-03 20:22] discorick commented on #597
Oh yeah, I think I flipped those two around @dahlbyk, good catch. This is slightly different.

[2016-08-04 17:11] discorick commented on #260
Closing this in favor of scrolling columns (see https://github.com/huboard/huboard-web/pull/348)

[2016-08-04 17:11] #260 closed

[2016-08-04 17:15] #406 closed

[2016-08-04 17:15] discorick commented on #406
Collapsible, and reworked order of filters have been added here: https://github.com/huboard/huboard-web/pull/345

Going to close this issue, but if being able to drag and drop filter groups around remains a priority feel free to reopen!

[2016-08-04 20:08] discorick commented on #517
I am a fan of just hiding the closed issues altogether. Thinking on it, there doesn't seem much reason for them to exist in that view anyways.

[2016-08-04 22:30] #517 closed

[2016-08-16 16:43] patdolem commented on #653
@discorick I don't think it has been resolved. Was there a fix? In which release?

[2016-08-16 16:48] patdolem commented on #406
@discorick This is great news. Do you know when it will be available?

[2016-08-17 17:21] rauhryan opened #685 "Show running total of issues in the milestone column header"
#### Description:

 From Patrick:

It would be very useful to have a coungint in the top row of the milestone column, the same as the task view.

[2016-08-19 20:55] rauhryan commented on #406
Soon :) We are working on a new enterprise release

[2016-08-21 04:44] GildedHonour commented on #276
What's the status of this, is anybody working on it? Is this bounty on? Can I start working on it?

[2016-08-21 17:14] judwhite commented on #661
dropping a note to consider milestone in the task card

[2016-08-22 18:04] stanhu commented on #276
Today GitLab 8.11 shipped with a built-in Issue Board feature (https://about.gitlab.com/2016/08/22/gitlab-8-11-released/), so GitLab is no longer interested in supporting this bounty. Thanks, everyone, for your interest.

[2016-08-22 20:22] #276 closed

[2016-08-23 18:52] dahlbyk commented on #661
Any other thoughts on this? Personally, I just filter the Tasks board by milestone if I care about milestone, but I wouldn't want to project that workflow as universal.

My only concern with adding it is that space is at a premium, but I suppose it wouldn't be that bad to show a milestone, if one is specified, as the first "label."

[2016-08-23 19:26] discorick commented on #661
We could also display ![image](https://cloud.githubusercontent.com/assets/1130665/17906581/f30f758c-6945-11e6-9bc1-f9f3af5e6f2c.png) beside the new card elements, and show milestone name as a popover on hover.

[2016-08-27 17:08] discorick commented on #653
Actually this should be bundled up in the next release, it's going to be one of our biggest to date - sorry about the long delay @patdolem we ended up squeezing as much as we can into this release but the testing is taking longer than expected.

[2016-08-29 16:12] patdolem commented on #653
@discorick Do you know when this new release will be available?

[2016-09-01 23:44] seanlinsley commented on #580
A ton of previously archived tickets just showed up in Done for us. Is there a PR / commit for the change?

[2016-09-01 23:52] seanlinsley commented on #580
Something seems broken. There were 101 tickets in Done: 1 wasn't closed, 100 were from many years ago. After manually archiving the 100 old tickets and reloading the page, only the 1 open ticket remained, even though we had many closed tickets in Done from the current sprint.

Perhaps https://github.com/huboard/huboard-web/commit/040f0529b06ce21bc4a29686e4635af89123644e had unintended consequences

[2016-09-01 23:54] seanlinsley commented on #580
We currently have 127 closed tickets with the Done label, so it's not like there was an errant API request that removed the label for these tickets.

[2016-09-02 15:21] discorick commented on #580
Hey @seanlinsley thats really strange, we haven't deployed anything this week - did those issues just appear yesterday ?

Is the affected repo public by any chance ? I would be interested to take a look at the issue bodies (where we hide the "archived" meta-data")

Shouldn't, that commit just filters "closed" issues out of milestones.

[2016-09-02 16:00] dealingwith commented on #580
@discorick the repo is not public. Here is the meta-data from one of the disappeared tickets in question:

[code]

[2016-09-02 16:05] dealingwith commented on #580
...and yes the ticket still has the column label applied

[2016-09-02 19:25] seanlinsley commented on #580
If y'all haven't deployed anything this week, perhaps it's a bug in Github's API.

Yes, this just started happening yesterday.

[2016-09-02 19:40] seanlinsley commented on #580
Additional weirdness: my account unassigned people from a couple tickets around the same time yesterday even though I didn't do anything.

<img width="519" alt="screen shot 2016-09-02 at 2 38 44 pm" src="https://cloud.githubusercontent.com/assets/688886/18216204/0306caf8-711b-11e6-920a-ac0afc14c5eb.png">

[2016-09-02 19:40] seanlinsley commented on #580
/me resets my password just in case...

[2016-09-02 19:44] seanlinsley commented on #580
The disappearance bug actually just happened again, this time for a PR.

I'm not sure whether or not a reload of Huboard is needed for it to disappear.

<img width="585" alt="screen shot 2016-09-02 at 2 42 19 pm" src="https://cloud.githubusercontent.com/assets/688886/18216327/a1594a96-711b-11e6-8e95-c461e604dfa2.png">

[2016-09-02 19:47] discorick commented on #580
If you are concerned at all about unauthorized usage of your account I would also revoke all of your OAuth tokens for any GitHub integration you currently use and reauth with each one.

Did the PR disappear on close ?

[2016-09-02 19:55] seanlinsley commented on #580
The PR didn't disappear immediately, it was a few minutes later. I'm not sure whether I reloaded Huboard between when it was visible and when it disappeared.

[2016-09-02 20:08] seanlinsley commented on #580
I've confirmed that https://huboard.com/api/v2/modernmsg/modernmsg/details is missing the PR in question.

[2016-09-02 21:22] seanlinsley commented on #580
It definitely looks like the pubsub is working correctly, but fresh page loads aren't.

[2016-09-02 21:25] seanlinsley commented on #580
I just created a test ticket, and opened Huboard in both Chrome and Firefox. For both browsers, the pubsub correctly closes the ticket without archiving it. But after a reload, it's missing from both.

[2016-09-02 21:34] discorick commented on #580
Interesting... I am just thinking on this - I did the same thing on a test repo but my issue closed and stayed on the board (even after refresh)

I am not aware of any GitHub API changes - you have more than 5 columns in your board correct ?

[2016-09-02 21:56] discorick commented on #580
Is that new issue missing from your details payload ? Could you <s>paste</s> email support at huboard dot com with the meta-data for that one as well ?

[2016-09-02 22:22] dealingwith commented on #580
We have 8 columns.

Here is the metadata for that ticket:

[code]

[2016-09-06 20:45] seanlinsley commented on #580
This is quite disruptive to our dev process. Any thoughts on what the issue might be?

Your API server is definitely sending incorrect data (missing these tickets). Whether that's an issue with your server or with Github's API, I don't know.

[2016-09-06 20:47] seanlinsley commented on #580
It's a long shot, but I though I'd mention it: around an hour before this bug happened I removed @dealingwith from our Github organization and then added him back.

[2016-09-06 21:15] discorick commented on #580
Just exploring this in detail right now @seanlinsley - to make sure I understand correctly
- You started with a Done column with 1 (or more?) issue(s)
- At some point 100 previously archived issues appeared (were they manually archived before or had they simply just ran past the "2 weeks" visible limit?)
- After archiving those issues, only 1 remains in the done column, even though there are issue

[2016-09-06 21:22] discorick commented on #580
Also, do you feel comfortable emailing me the JSON response of:  https://huboard.com/api/v2/modernmsg/modernmsg/details, I have a suspicion of whats going on

[2016-09-06 21:22] discorick commented on #580
Also, do you feel comfortable emailing me the JSON response of:  https://huboard.com/api/v2/modernmsg/modernmsg/details, I have a suspicion of whats going on

[2016-09-06 21:22] discorick commented on #580
Also, do you feel comfortable emailing me the JSON response of:  https://huboard.com/api/v2/modernmsg/modernmsg/details, I have a suspicion of whats going on

[2016-09-07 06:35] jflemer-ndp commented on #72
:+1:

[2016-09-07 17:13] seanlinsley commented on #580
We started with around 20 closed tickets in Done from our previous sprint.

I'm not sure. They were multiple years old; I don't remember if we were using Huboard back then.

Yes, but to clarify that one ticket remaining wasn't closed.

Just sent to support@huboard.com

[2016-09-09 00:00] patdolem commented on #679
:+1:

[2016-09-09 00:02] patdolem commented on #675
:+1:

[2016-09-09 23:22] #261 closed

[2016-09-09 23:22] #372 closed

[2016-09-12 05:03] judwhite commented on #661
@dahlbyk The use case I had in mind is looking at all open issues and rearranging which issues are associated with which milestone. For example, a user may want to re-evaluate what's important for the next few upcoming releases.

[2016-09-12 19:13] seanlinsley commented on #580
Both the bug I reported, and this ticket seem to be fixed as of the redesign.

[2016-09-12 19:17] seanlinsley opened #686 "Add keyboard shortcuts to open Huboard search"
Historically, the easiest way to find a ticket on Huboard was to use browser-native search (command-f / control-f) on the ticket number, or some part of the title. This is no longer possible as of the redesign. The search will only find results if you first scroll to the ticket in question, so it's rendered on the page.

If it's too hard to add back the original behavior, we should at least overri

[2016-09-12 23:46] dahlbyk commented on #661
@judwhite, isn't that use case already covered by the Milestones view of the board?

[2016-09-13 00:10] dahlbyk commented on #686
We've finally concluded that laying out all cards on the board is simply a losing proposition on larger boards.

:+1:

[2016-09-13 21:42] jking-roar opened #687 "canceling a drag and drop"
#### Description:

Once a drag and drop is started, it can't be stopped except by closing the browser tab, leading to inadvertent moves of cards due to misclicks.
Either there should be a way to cancel a drag a drop of a card, perhaps by dragging outside of a droppable area or pushing escape; or there should be a clue to where the card was dragged from, so it can be dropped at the same place.
####

[2016-09-14 16:24] discorick opened #688 "GitHub Projects (tell us what you think!)"
GitHub Projects is live!

We've got some ideas of our own... Is there something YOU would like to see us do with them?

[2016-09-14 23:06] dahlbyk commented on #688
We've deployed a [proof-of-concept Project view](https://huboard-rails-pr-369.herokuapp.com/huboard-testing/spooky-octo-pug#/projects/1) ([same in GitHub](https://github.com/huboard-testing/spooky-octo-pug/projects/1).

Known limitations:
- No realtime updates, since webhooks are not available yet.
- No drag/drop support; `/moves` API was available last
- Only the first 30 cards per column; API do

[2016-09-16 20:24] rauhryan opened #689 "Expand support for blocked & ready labels"
[Intercom](https://app.intercom.io/a/apps/6pkpaw3m/inbox/rauh.ryan@huboard.com/conversations/5952657153)

[2016-09-16 20:26] rauhryan opened #690 "Blocked/ready statuses in the final column"
![uploads/a9e14874-055c-46f1-b693-5a211620e0e2/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa9e14874-055c-46f1-b693-5a211620e0e2%2Fblob)

[2016-09-20 15:13] #520 closed

[2016-09-21 19:01] #537 closed

[2016-09-22 15:08] discorick commented on #399
Issues that are blocked/ready now apply the "blocked/ready" label if it is present, would you consider this issue resolved @patdolem @benjamincharity ?

I know theres been some talk about being able to customize which label maps to the blocked/ready state, I would be inclined to open a new issue for that.

[2016-09-22 15:39] benjamincharity commented on #399
I know at least for my case, the new blocked/ready labels don't solve anything unless I want to go through all of my companies repos and changed the label names to match what Huboard defines rather than the existing format across other labels. So for me it is not a workable solution.

I have no problem with that. A cross link would be nice in case others come across this issue. 👍

[2016-09-22 15:53] patdolem commented on #399
I have the same problem as for @benjamincharity. We have a huge number of repos we would have to go through to change the label name. Also our team members could be confused with a new name.

What does it mean in term of release schedule?

[2016-09-27 05:20] rgalanakis opened #691 "Issues are unarchived when the assignee is removed from the organization"
#### Description:

Issues are unarchived when the person they are assigned to is removed from the GitHub organization.
#### Steps to reproduce (if applicable):
- Add a user ("User") to a GitHub Organization, and add User to a Team with access to the private repository housing issues (in our case, we have a CozyCo org, Product team, and a private cozy-sprints repo).
- Create issue
- Assign issue to

[2016-09-27 06:32] dahlbyk commented on #691
I'm not able to reproduce this on a private repo in the huboard org.
<img width="529" alt="firefox_2016-09-27_01-30-47" src="https://cloud.githubusercontent.com/assets/133987/18862477/09c2cca8-8452-11e6-9757-8e9e13425d4f.png">

<img width="432" alt="firefox_2016-09-27_01-26-02" src="https://cloud.githubusercontent.com/assets/133987/18862429/b12ecfd8-8451-11e6-8075-da8c58e7bf0e.png">
_remove @dahlb

[2016-09-28 15:02] colmonty opened #692 "Move close button to top right of modal"
#### Description:

Close button (X) is not in an obvious place, at the top right of the screen.  It should be at the top right of the _modal_, instead.
#### Steps to reproduce (if applicable):

Open an Issue, check out where the close X button is at the top right of the screen.

[2016-09-28 19:37] discorick commented on #691
@rgalanakis , in your reproduction where you able to reliably observe a state change on:

?

It's possible that if you have many older issues that are closed, but were not explicitly "archived" - and that the `last_updated` key is being refreshed when the assignee is being removed. We recently expanded the scope of our closed issues query, and I can imagine a scenario where issues in this situatio

[2016-09-29 06:56] rgalanakis commented on #691
@discorick You are right! I was able to repro this by just unassigning myself from a very old issue. The custom state is still "", but it's now unarchived.

Not sure if your last sentence implies there is a bug, or if this is just an expected side effect, but I'm fine with the current behavior since it's only older issues, so I'm going to close this issue. Thanks for the detective work and explana

[2016-09-29 06:56] #691 closed, assigned to nobody

[2016-09-29 07:56] dahlbyk commented on #691
@discorick was referring to https://github.com/huboard/huboard-web/pull/367, which simply fixed that we would show only the first 100 closed (unarchived) issues. An unlikely cause of what you observed, but still potentially related.

While I agree that the current behavior is correct, we could potentially add an additional check to ensure issues closed beyond our two-week window (cc #580) remain h

[2016-09-29 20:31] patdolem opened #693 "Ability to configure the display of cards"
#### Description:

This is an enhancement request. We have some users that would like to be able to configure their card content to get a more concise size:
- i.e. Not display the number of comments or the list of referenced issues.
- Ability to show the labels as before (color lines with display of the labels when over hovering the cursor).
#### Notes:

This is for Huboard Enterprise release 1.7.

[2016-09-30 16:58] rgalanakis commented on #691
Maybe add an 'archive all closed issues' option somewhere? The pain is mostly around having to archive one by one. If we have a sprint with 30 issues, I end up having to archive one by one as well (I mass-close in github itself). Seems like it would be a useful feature in general and provide an easy way to overcome this problem.

[2016-09-30 18:22] dahlbyk commented on #691
Agreed. Keep an eye on #542 and #615.

[2016-09-30 21:36] patdolem opened #694 "Drag & drop team member doesn't refresh"
#### Description:

To reproduce: drag a team member and drop him on a card. The icone doesn't appear unless you refresh the page.
#### Notes:

This is for Huboard Enterprise release 1.7.151

[2016-10-03 17:37] dahlbyk commented on #693
Not sure if we can reasonable add full customizability, but I'd love to see maybe three "card size" options:
- Full
- Basic (hover labels, refs tray collapsed/hidden, no comment count, etc)
- Minimal (number + title only?)

[2016-10-04 12:16] patdolem commented on #693
@dahlbyk I like your proposition.
For Full and Basic, refs tray collapsed/collapsable should be.
For Basic and Minimal, they should both have team member(s).

[2016-10-04 16:19] #399 closed

[2016-10-04 16:28] rauhryan opened #695 "Expand impeded label support to configurable labels ala; Block/Ready labels"
Related to #399

[2016-10-04 20:37] dahlbyk commented on #399
No specific plans at this point. Let's continue the discussion over in https://github.com/huboard/huboard/issues/695.

[2016-10-05 16:35] discorick opened #696 "Issues Sync hides Issues created by GitHub webhooks"
#### Description:

After creating an issue in GitHub and observing it appear on my HuBoard, I refocused the chrome tab later and the issue disappeared when the Sync ran

[2016-10-14 17:11] patdolem opened #697 "Ability to unassigned a team member without having to open a card"
#### Description:

Unassign a team member by select it on a card and dragging it out of the card.

#### Notes:

Huboard Enterprise 1.7.150.

[2016-10-14 17:24] patdolem opened #698 "Always proposed the logged in person and the assignee(s) at the top of the assignees list"
#### Description:

When a card is opened, it is possible to add/remove assignees through the Assignees list. The list proposed is an alphabetic orders while it should be me, then the name(s) of the already assigned members then the alphabetic order. This is the way it works in GitHub.

#### Notes:

Huboard Enterprise 1.7.150 Release

[2016-10-21 22:16] patdolem commented on #549
This is not anymore relevant with HB:E 1.7.155

[2016-10-26 19:49] dahlbyk commented on #549
Are you sure? I still see a line on the repo link but not the cards. Are you just saying it no longer bothers you or...?

<img width="325" alt="firefox_2016-10-26_14-48-03" src="https://cloud.githubusercontent.com/assets/133987/19742592/56da1c76-9b8b-11e6-9a69-c9b5588bcd3c.png">

[2016-10-26 19:54] patdolem commented on #549
Now that the linked repos are indicated in the cards it no longer bother me.

[2016-10-27 13:11] francuski opened #699 "Test issue"
#### Description:

ergdg
#### Steps to reproduce (if applicable):

fgdgf
#### Helpful external resources (blog, docs, etc.):
#### Notes:

super

_contact_ support@huboard.com _for personal support on critical issues_

[2016-10-27 15:26] discorick commented on #699
Closing, not sure this is something we can prioritize 😉

[2016-10-27 15:26] #699 closed, assigned to nobody

[2016-10-27 20:11] #549 closed

[2016-11-01 16:26] discorick opened #700 "Integrations: Constrain issue events for a channel to a label"
In Slack for instance, some channels only care about certain issue events. As one of our users proposed the design channel for the design team might only care about issues labeled "design"

[2016-11-09 12:56] jd-h opened #701 "Getting more done in GitHub with ZenHub"
Hola! @damianhakert has created a [ZenHub](http://www.zenhub.com) account for the **huboard** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOn

[2016-11-09 23:05] patdolem commented on #543
I don't have this issue anymore. It can be closed.

[2016-11-09 23:12] patdolem opened #702 "Team members assigned only to closed issues should not be listed"
#### Description:
The list of team members can become very long and we would like to reduce this list only to the team members that are having open issues. So when a team member is only assigned to 1 or more closed issues, they should not show up in the list.

#### Notes:
This is for Enterprise 1.7.155

[2016-11-10 00:48] dahlbyk commented on #702
Are you referring to the assignee filter or the list to set assignees?

[2016-11-10 00:49] patdolem commented on #702
I'm referring to the assignee filter.

[2016-11-10 01:07] discorick commented on #701
Interesting crossover? Closing.

The auto generated issue on the repo is a cool idea though.

[2016-11-10 01:07] #701 closed, assigned to nobody

[2016-11-10 01:16] #543 closed

[2016-12-05 15:06] dahlbyk commented on #698
This is partially implemented by https://github.com/huboard/huboard-web/pull/131 but has not been updated for multiple assignees. /cc @kevPo

[2016-12-08 17:52] #698 closed, assigned to rauhryan

[2016-12-20 21:18] mscheper commented on #321
@discorick: Can you point to docs for how to do this, please? When I go to a list of issues and click on 'Milestones ▼', I only seem to be able to select one milestone. I've read https://help.github.com/articles/search-syntax/ and https://github.com/koalyptus/TableFilter/wiki/4.-Filter-operators, but separating the names of two milestones with `||` does not work.

[2016-12-20 22:13] discorick commented on #321
@mscheper , it sounds like you are describing the GitHub UI, filtering by multiple milestones is a [HuBoard](https://huboard.com/huboard/huboard) specific feature.

Or are you trying to use `||` in the HuBoard search field?

[2017-01-06 11:45] usman10scorpio commented on #255
- [ usman iqbal]

- [ ]

[2017-01-13 21:05] stretchycritter opened #703 "Assignees Card Drop Down leaves up check mark when unselected"
#### Description:
If you remove somebody from an assignees list on a card, but keep your mouse hovered over it, it looks like they are still assigned. Had a couple times in meetings where I would click it and not notices which made me click it again later. Not a huge problem, but annoying every once in a while when quickly going through cards.

I would suggest that the checkbox only show up on cli

[2017-01-25 18:37] djwgit commented on #555
hope this fixed soon.    say, this url,
http://myhuboardserver/my_repo_name/?milestone=[%22Release1.2Cert%22]#/?milestone=[%22Release1.2Cert%22]
- I just want to see issues in my milestone to be displayed. it is around 40 issues.
guessing the reason of slow loading is that huboard tries to load all issues in the repo, then display the issues in the specified milestone.  is this right?
- this is ou

[2017-01-30 20:16] discorick opened #704 "[Proposal] Dockerizing HuBoard"
## Purpose

Greater portability will yield a number of advantages:
- Paves the way for deployments on other infrastructure (Google Cloud Containers, AWS etc. )
- Easy to Scale / Descale
- Decent alternative to using vagrant for dev boxes

## Considerations

1. Docker containers are designed to be small and compact. Our current setup serves our precompiled client with rails, unfortunately the clien

[2017-01-30 20:46] patdolem opened #705 "Using filters when linking repositories - Boolean operator choice for labels"
#### Description: Multi labels can be set when linking a repository. The default boolean operator is AND. We would like to have a choice between AND, OR, and NOT.
The ability to combine these operators should be the best solution.

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes: This is for Huboard Enterprise

_contact_ support@huboard.com

[2017-01-30 21:53] sanketch commented on #230
Would love to see this feature!

[2017-02-06 14:27] christophe-spaggiari commented on #230
Looking to move to ZenHub because we are missing this feature in Huboard !!!

[2017-02-10 20:17] patdolem opened #706 "Mapping milestones names across linked repos"
#### Description: We have milestones in different repos that are having different names and end dates. These repos are related to the same things and we would like to be able to view the issues of these milestones at once.
Requested Solution: allow to configure which milestones should be mapped from each linked repo to a specific milestone of the parent/main repo. The naming convention should be u

[2017-02-14 21:20] seanlinsley opened #707 "Repo links page isn't scrollable"
I just tried adding a fourth repo link to our main Huboard page, but was unable to scroll down to the button to add the link.

<img width="984" alt="screen shot 2017-02-14 at 3 19 55 pm" src="https://cloud.githubusercontent.com/assets/688886/22949837/313ffb3a-f2c9-11e6-9858-13d2d1610ba0.png">

[2017-02-14 21:21] seanlinsley commented on #707
I'm using Firefox.

[2017-02-14 21:22] seanlinsley commented on #707
I got around the issue my lowering my browser's font size

[2017-02-14 21:55] rauhryan commented on #707
Thanks Sean, I'll take a look

[2017-03-27 22:18] Nazar199328 opened #708 "'ssh-keygen -t rsa -b 4096 -C "bratan28@yandex.ru""
#### Description:

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:

_contact_ support@huboard.com _for personal support on critical issues_

[2017-03-28 05:49] #708 closed, assigned to nobody

[2017-06-07 10:13] cristinallamas opened #709 "Kanban Swimlanes"
#### Description:

We currently use Kanban in a physical board, but we haven't switched to a digital one as we haven't found any with swim lanes. It is a very common feature in Kanban boards and I think it's great to have

#### Helpful external resources (blog, docs, [etc.):
![image](https://user-images.githubusercontent.com/13033831/26873543-183322d2-4b72-11e7-9d82-75e44757436a.png)

https://lean

[2017-07-21 20:38] 0joshuaolson1 opened #710 "Archived issues become broken HuBoard links"
Even after archiving, issues that mention them shouldn't have to link to GitHub instead (the workaround).

Viewing archived issues has been asked for before, but I don't think it was its own issue.

[2017-08-14 18:41] 0joshuaolson1 commented on #555
This is still a problem. If I want to open multiple issues, I duplicate the tab in Chrome, which displays the HuBoard loading icon for many seconds.

[2017-08-14 18:45] 0joshuaolson1 opened #711 "Not obvious that formatted link names are links"
E.g.
[code]
[`something here`](http://not.blue)

[2017-09-12 05:59] harlantwood opened #712 "fix typo"
In your UI

"Add labels to constraint the issues for this linked repository" should be:
"Add labels to **constrain** the issues for this linked repository"

[2017-09-15 19:17] genejr opened #713 "Please cancel my account and issue a refund for the 8/27 invoice as well"
#### Description:
I canceled via your support email on 8/15. Still got billed on 8/27. An email to support@huboard.com yesterday bounced. Are y'all still in business?

_contact_ support@huboard.com _for personal support on critical issues_

[2017-09-15 19:30] rauhryan commented on #713
It appears that my MX records got deleted from my DNS provider.

Can you please try to send me a support email again.

Yep, still here. Sorry about the trouble

[2017-09-15 19:30] #713 closed, assigned to nobody

[2018-01-31 09:05] ayalaka opened #714 "sass"

[2018-02-14 00:44] Razoxane commented on #555
Huboard is again taking an incredibly long time to load (over 7 minutes and still no issues showing).
![image](https://user-images.githubusercontent.com/3488998/36182035-b9f39d20-117b-11e8-9bab-ca1b06cf7e17.png)

This is happening on multiple browsers for a repo that has 346 open issues.
A repo with only 44 open issues renders much faster, in the usual 3-5 seconds I expect from Huboard.

It also a

[2018-02-14 00:51] djwgit commented on #555
our company already switched to a different product to replace huboard...
one of the reasons is this issue. :-(

[2018-02-14 00:56] Razoxane commented on #555
Looking further at the waterfall, it looks like huboard is trying to do something (maybe pre-loading?) with images that are embedded in the issues, hitting a certain threshold, then choking:
![image](https://user-images.githubusercontent.com/3488998/36182313-34ef3c7c-117d-11e8-9584-1adc0b1b4d71.png)

Were there any changes made to download/pre-load images **before** rendering the kanban board?
@ra

[2018-02-14 00:57] Razoxane commented on #555
@djwgit what did you switch to?

[2018-05-08 19:42] davidwdonnelly opened #715 "Repository hangs when trying to load"
#### Description:
Last week we suddenly started getting a failure to load our Promys/Promys repository.  We can load other repositories, but this one just hangs.  Here is what we see:

![uploads/1bf82f40-7377-41b0-82ba-909c9aa9cf6b/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F1bf82f40-7377-41b0-82ba-909c9aa9cf6b%2Fimage.png)

![uploads/cb374ab8-b09b-46ca-add2-8f40d11444

[2018-05-14 15:48] rauhryan commented on #715
I think I've fixed the issue. Sorry it took me a while to track it down because I was unable to reproduce the problem on my end.

increasing the http read timeouts for the GitHub API client seems to have helped.

https://github.com/huboard/huboard-web/commit/c081aa3b1450ce2434db3ee7b0682f05d170f513

Please let me know if the issue continues

[2018-05-14 15:48] #715 closed, assigned to nobody

[2018-05-15 03:51] samshaba commented on #255
[ ]

[2018-05-15 03:51] samshaba commented on #255
[]

[2018-05-15 15:12] davidwdonnelly commented on #715
Ryan:

Thanks for the help, but after several days of hearing nothing back from Huboard support, we were not sure if support was going to look at our problem or not.  As a result, we moved all of our operations to ZenHub.

[2018-07-13 00:23] rewxcv opened #716 "uiii"
#### Description:

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:

_contact_ support@huboard.com _for personal support on critical issues_

[2018-09-18 07:45] he89302 opened #717 "task"
#### Description:

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:

_contact_ support@huboard.com _for personal support on critical issues_

[2018-09-18 07:45] he89302 opened #718 "tsdk1"
#### Description:

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:

_contact_ support@huboard.com _for personal support on critical issues_

[2018-09-18 07:46] he89302 commented on #420
ok

[2018-11-20 23:12] #718 closed, assigned to nobody

[2018-11-20 23:12] #717 closed, assigned to nobody

[2018-11-20 23:12] #714 closed, assigned to nobody

[2018-12-07 09:18] adamretter commented on #230
I would like to try HuBoard but I need this feature.

[2019-03-12 14:11] EvanGrillo opened #719 "503 Service Unavailable on GET account"
#### Description:
`https://huboard.com/api/v2/org/repo/...`

Returns...

`Status Code: 503 Service Unavailable`

`Error while processing route:  Cannot read property 'get' of undefined TypeError: Cannot read property 'get' of undefined`

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:
As of the past week, this happens each time I open hubo

[2019-04-01 23:53] xuexuexue123 opened #720 "test"
#### Description:

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:

_contact_ support@huboard.com _for personal support on critical issues_

[2019-09-03 11:27] xkl2013 opened #722 "fsdaf"
#### Description:

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:

_contact_ support@huboard.com _for personal support on critical issues_

[2019-09-03 14:16] #722 closed, assigned to nobody

[2019-09-09 22:41] n3m8tz commented on #611
Would love to see this

[2019-12-13 09:43] nise opened #723 "can not create milestones: "Ensure the title is unique""
#### Description:
I have a board that is working pretty well. However, I am not able to add new milestones to the board.
#### Steps to reproduce (if applicable):
I see the dialog to enter a title (e.g. "Test x789***nssdk$$ " or just "Hello Huboard"), a due date (e.g. tomorrow), and a description field which I leave blank. When I press the button 'create milestone' the following error appears: "The

[2020-01-20 11:03] prologic commented on #247
I've run into this as well (_first time Huboard user; so far liking it!_) -- But we have some >650+ Issues and they've all landed in the `0 - Backlog` column which even with filters makes it really unfriendly UI/UX -- so much scrolling to find something that matches the filter.

I . need basically a way as the OP described to "make those 600+ issues go away" so I can just focus on what actually in

[2020-01-23 22:10] prologic commented on #555
You guys _really_ need to fix this in order for Huboard to be remotely useful. I quite like it, it reminds me of the (_now dead_) Waffle.io (_anyone remember?_).

The biggest problem I'm seeing right now is one of your own API endpoints is terribly slow. Possibly it needs optimising? Please see attached.

Right now this is unuseable so I will stop using Huboard and come revisit against in the futu

[2020-01-24 01:59] Razoxane commented on #555
@prologic - I think with the release of Github Projects, HuBoard has gone the same way as Waffle.io - no commits to master since 2016 :(

[2020-01-24 03:24] prologic commented on #555
I see 😁 But Github  Projects are terrible and I have no way to manage
multiple reports as a single board AFAIK

On Fri, 24 Jan 2020 at 11:59, Jade Edward <notifications@github.com> wrote:

--

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

[2020-02-07 11:24] jurajpiar commented on #611
Any news about this issue? It has been 5 years since it was opened.

[2020-02-18 17:32] mpbausch opened #724 "Support@huboard.com hasn't replied to me after multiple attempts"
#### Description:
I reached out to Huboard multiple times to cancel our account and no one has responded. NoRedInk Corp would like to cancel our monthly subscription. Please help us do so. I can be reached at mp@noredink.com.

_contact_ support@huboard.com _for personal support on critical issues_

[2020-05-06 06:19] eramax opened #725 "test11"
#### Description:

#### Steps to reproduce (if applicable):

#### Helpful external resources (blog, docs, etc.):

#### Notes:

_contact_ support@huboard.com _for personal support on critical issues_

[2020-08-26 07:59] antonlvovych commented on #611
Any updates on this issue?

[2020-12-09 07:22] 1900060003 opened #726 "123"
123

[2020-12-09 15:18] #726 closed, assigned to nobody

[2021-01-16 23:48] PedroGFonseca commented on #611
I'm going to go ahead and assume that this is going to be permanently... blocked by something? 😇

[2021-01-17 02:16] sp4ceb4r commented on #611
Sorry to spam mentions... @n3m8tz, @jurajpiar, @geekiam, @PedroGFonseca it would be safe to assume this project is EOL. I don't know if any of the forks of this project are actively maintained either; if one is and this hasn't been implemented there then you might suggest this feature on that fork.

[2021-01-18 16:00] discorick commented on #611
@sp4ceb4r is correct. As a former maintainer of this project, I just haven't had the bandwidth to address issues for the past few years, and regrettably will not be in the future.

[2021-01-26 04:33] PedroGFonseca commented on #611
@discorick @sp4ceb4r thanks for the update! (and for all your work on open sourcing the project)

[2021-07-08 08:01] krishnapant13 commented on #520
if it dosen't work just click on the drag and drops it will redirect you to the pc directory and simply select files from there and upload it to your repo

[2022-04-04 19:14] #271 closed

[2022-04-06 08:29] wxtim commented on #321
Please could you post a link to to the documentation for this, because I cannot for the life of me work out _how_.

[2022-05-10 12:03] #400 closed

[2022-06-28 19:13] tgmpje commented on #611
Sorry to see this project gone stale. To address @sp4ceb4r's original feature request: you can use [SnoozeThis](https://www.snoozethis.com/) on GitHub to automatically unblock issues. Simply add a comment to the issue that is blocked:

SnoozeThis will then add a comment as soon as the other issue has been resolved. And by installing [the optional app](https://github.com/apps/snoozethis) you can do